@import "themes/variables.scss";
@import "themes/fonts/fonts.scss";
@import "node_modules/bootstrap/scss/_functions";
@import "node_modules/bootstrap/scss/_variables";
@import "node_modules/bootstrap/scss/_mixins";
@import "node_modules/bootstrap/scss/bootstrap";



html, body {
  margin:0;
  padding:0;
  height:100%;
}

#app {
  min-height:100%;
  position:relative;
}

.container {
  padding-top: $spacer * 4;
}

footer {
  background-color: #f5f5f5;
  margin-top: $spacer;
  padding-top: $spacer;
  padding-bottom: $spacer;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align:center;
}


.center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.link {
  cursor: pointer;
}
// Navbar

.navbar {
  .navbar-brand {
    padding-left: $spacer * 2;
  }
  .nav-item {
    font-family: $font-family-ThaiSansNeue;
    font-size: 20px;
    padding-left: $spacer * 0.5;
    padding-right: $spacer * 0.5;
  }
}

.header {
  padding-bottom: $spacer * 2;
  .title {
    text-align: center;
  }
  .subtitle {
    font-size: 18px;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}


.indent {
  text-indent: 20px;
}

.content {
  padding: $spacer * 3.5 $spacer;
  .header {
    padding-bottom: 0;
    .title {
      text-align: left;
    }
  }
  .body {
    font-size: 18px;
    p {
      text-indent: 20px;
      text-align: justify;
    }
  }
  .footer {
    padding-top: $spacer;
  }
}

.content-primary {
  @extend .content;
  background: url(/static/images/bg2.jpeg) no-repeat;
  width: 580px;
  height: 565px;
  padding: $spacer * 3.5;
  box-sizing: border-box;
  color: white;

  .secondary {
    padding-top: $spacer * 2;
  }

  .subtitle {
    padding-top: $spacer * 0.25;
  }
}



.question-image {
  padding-top: $spacer * 0.5;
  border: 1px solid $gray-200;
  padding: 16px;
  text-align: center;
  img {
    max-width: 400px;
  }
}

// Badge

.badge-gray {
  color: $body-color;
  vertical-align: middle;
}

.step {
  .badge-gray {
    padding: $spacer * 0.5 $spacer * 2.75;
    vertical-align: middle;
  }
}

// Question

.question {
  padding-top: $spacer * 2;
  text-align: center;

  .item {
    display: inline-block;
    // float: left;
  }

  .icon {
    width: 4%;
    font-size: 20px;
    color: $primary;
    vertical-align: top;
  }

  .title {
    max-width: 80%;
    text-align: center;
    padding-left: $spacer * 0.25;
    padding-right: $spacer * 0.25;
    font-size: $h4-font-size;

    h4 {
      margin-bottom: 0;
      font-family: 'CSPraJad';
    }
  }
}

.choices {
  padding-top: $spacer * 2;

  ul {
    list-style: none;
    margin:0;
    padding:0;
  }

  .helper {
    margin-bottom: $spacer * 0.5;
    font-size: 1.125rem
  }

  .choice-item {
    border: 2px solid $input-border-color;
    padding: $spacer;
    font-size: 24px;
    line-height: 1.1;
    border-radius: 4px;
    margin-bottom: $spacer * 0.75;
    cursor: pointer;
    label {
      font-weight: normal;
    }
  }


  .choice-item:hover {
    background-color: $gray-100;
  }

  .choice-item.selected {
    border-color: $primary;
  }
}


// Modal


.modal-opened {
  overflow: hidden;
}

// Tabel

.tabel-quiz {
  thead > tr > th {
    background-color: #f5f5f5;
    border-bottom: none;
    text-align: center;
  }

  td {
    position: relative;
  }

  .center {
    position: absolute;
    left: 58%;
    top: 57%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .w-5 {
    width: 100px;
    vertical-align: top;
  }
}


.correct-answer {
  font-size: 20px;
}
// print

@media print {
  body, html, #wrapper {
    width: 100%;
  }

  @page
  {
    size: 210mm 297mm;
    margin-top: $spacer * 2;
    margin-bottom: $spacer * 2;
  }
}


// loading
#fountainG{
  position:relative;
  width:234px;
  height:28px;
  margin:auto;
}

.fountainG{
  position:absolute;
  top:0;
  background-color:rgb(255,255,255);
  width:28px;
  height:28px;
  animation-name:bounce_fountainG;
    -o-animation-name:bounce_fountainG;
    -ms-animation-name:bounce_fountainG;
    -webkit-animation-name:bounce_fountainG;
    -moz-animation-name:bounce_fountainG;
  animation-duration:1.5s;
    -o-animation-duration:1.5s;
    -ms-animation-duration:1.5s;
    -webkit-animation-duration:1.5s;
    -moz-animation-duration:1.5s;
  animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
  animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
  transform:scale(.3);
    -o-transform:scale(.3);
    -ms-transform:scale(.3);
    -webkit-transform:scale(.3);
    -moz-transform:scale(.3);
  border-radius:19px;
    -o-border-radius:19px;
    -ms-border-radius:19px;
    -webkit-border-radius:19px;
    -moz-border-radius:19px;
}

#fountainG_1{
  left:0;
  animation-delay:0.6s;
    -o-animation-delay:0.6s;
    -ms-animation-delay:0.6s;
    -webkit-animation-delay:0.6s;
    -moz-animation-delay:0.6s;
}

#fountainG_2{
  left:29px;
  animation-delay:0.75s;
    -o-animation-delay:0.75s;
    -ms-animation-delay:0.75s;
    -webkit-animation-delay:0.75s;
    -moz-animation-delay:0.75s;
}

#fountainG_3{
  left:58px;
  animation-delay:0.9s;
    -o-animation-delay:0.9s;
    -ms-animation-delay:0.9s;
    -webkit-animation-delay:0.9s;
    -moz-animation-delay:0.9s;
}

#fountainG_4{
  left:88px;
  animation-delay:1.05s;
    -o-animation-delay:1.05s;
    -ms-animation-delay:1.05s;
    -webkit-animation-delay:1.05s;
    -moz-animation-delay:1.05s;
}

#fountainG_5{
  left:117px;
  animation-delay:1.2s;
    -o-animation-delay:1.2s;
    -ms-animation-delay:1.2s;
    -webkit-animation-delay:1.2s;
    -moz-animation-delay:1.2s;
}

#fountainG_6{
  left:146px;
  animation-delay:1.35s;
    -o-animation-delay:1.35s;
    -ms-animation-delay:1.35s;
    -webkit-animation-delay:1.35s;
    -moz-animation-delay:1.35s;
}

#fountainG_7{
  left:175px;
  animation-delay:1.5s;
    -o-animation-delay:1.5s;
    -ms-animation-delay:1.5s;
    -webkit-animation-delay:1.5s;
    -moz-animation-delay:1.5s;
}

#fountainG_8{
  left:205px;
  animation-delay:1.64s;
    -o-animation-delay:1.64s;
    -ms-animation-delay:1.64s;
    -webkit-animation-delay:1.64s;
    -moz-animation-delay:1.64s;
}

@keyframes bounce_fountainG{
  0%{
  transform:scale(1);
    background-color:rgba(255,90,90,0.97);
  }

  100%{
  transform:scale(.3);
    background-color:rgb(255,255,255);
  }
}

@-o-keyframes bounce_fountainG{
  0%{
  -o-transform:scale(1);
    background-color:rgba(255,90,90,0.97);
  }

  100%{
  -o-transform:scale(.3);
    background-color:rgb(255,255,255);
  }
}

@-ms-keyframes bounce_fountainG{
  0%{
  -ms-transform:scale(1);
    background-color:rgba(255,90,90,0.97);
  }

  100%{
  -ms-transform:scale(.3);
    background-color:rgb(255,255,255);
  }
}

@-webkit-keyframes bounce_fountainG{
  0%{
  -webkit-transform:scale(1);
    background-color:rgba(255,90,90,0.97);
  }

  100%{
  -webkit-transform:scale(.3);
    background-color:rgb(255,255,255);
  }
}

@-moz-keyframes bounce_fountainG{
  0%{
  -moz-transform:scale(1);
    background-color:rgba(255,90,90,0.97);
  }

  100%{
  -moz-transform:scale(.3);
    background-color:rgb(255,255,255);
  }
}

// Form

label {
  font-family: 'CSPraJad';
  font-size: 20px;
  font-weight: bold;
}

.form-action {
  padding-top: $spacer * 1.25;
}


.append-size {
  width: 18px;
  height: 18px;
}

.form-check-tabel {
  padding-left: 0;
  text-align: center;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 2px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: $primary;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
