
/* thai */
@font-face {
  font-family: 'CSPraJad';
  font-style: normal;
  font-weight: 300;
  src: local('CSPraJad'), local('CSPraJad'),
       url('/static/fonts/CSPraJad/CSPraJad.woff2') format("woff2");
}

@font-face {
  font-family: 'CSPraJad';
  font-style: bold;
  font-weight: 700;
  src: local('CSPraJad'), local('CSPraJad-Bold'),
       url('/static/fonts/CSPraJad/CSPraJad-bold.woff2') format("woff2");
}


@font-face {
  font-family: 'CSPraJad';
  font-style: bold;
  font-weight: 900;
  src: local('CSPraJad'), local('CSPraJad-Bold'),
       url('/static/fonts/CSPraJad/CSPraJad-bold.woff2') format("woff2");
}
