
/* thai */
@font-face {
  font-family: 'ThaiSansNeue';
  font-style: normal;
  font-weight: 200;
  src: local('ThaiSansNeue Light'),
       local('ThaiSansNeue-Light'),
       url('/static/fonts/ThaiSansNeue/ThaiSansNeue-Light.ttf') format('truetype'),
       url('/static/fonts/ThaiSansNeue/ThaiSansNeue-Light.woff') format("woff");
}

@font-face {
  font-family: 'ThaiSansNeue';
  font-style: normal;
  font-weight: 300;
  src: local('ThaiSansNeue'), local('ThaiSansNeue-Regular'),
       url('/static/fonts/ThaiSansNeue/ThaiSansNeue-Regular.ttf') format('truetype'),
       url('/static/fonts/ThaiSansNeue/ThaiSansNeue-Regular.woff2') format("woff2");
}



@font-face {
  font-family: 'ThaiSansNeue';
  font-style: bold;
  font-weight: 500;
  src: local('ThaiSansNeue'), local('ThaiSansNeue-Bold'),
       url('/static/fonts/ThaiSansNeue/ThaiSansNeue-Bold.ttf') format('truetype'),
       url('/static/fonts/ThaiSansNeue/ThaiSansNeue-Bold.woff2') format("woff2");
}
