<template>
  <div>
    <router-view/>
  </div>
</template>

<script>
import NavBar from '@/components/elements/NavBar';
import AuthManager from '@/modules/authManager';

export default {
  components: {
    NavBar,
  },
  created() {
    this.authManager = new AuthManager();
    const promise = this.authManager.getProfile();
    promise.then((profile) => {
      if (!profile) {
        this.$router.push('/profile');
      }
    });
  },
  methods: {
  },
};
</script>

<style lang="scss" scoped>
@import '@/assets/scss/themes/variables.scss';

.padding-bottom {
  padding-bottom: $spacer * 4;
}
</style>
