<template>
  <div>
    Homepage
  </div>
</template>


<script>
export default {
  components: {
  },
  computed: {
  },
  created() {
  },
};
</script>

<style lang="scss" scoped>
@import '@/assets/scss/themes/variables.scss';
</style>
