<template>
  <div>
    <div class="center" v-if="state.isLoading">
      <div id="fountainG">
        <div id="fountainG_1" class="fountainG"></div>
        <div id="fountainG_2" class="fountainG"></div>
        <div id="fountainG_3" class="fountainG"></div>
        <div id="fountainG_4" class="fountainG"></div>
        <div id="fountainG_5" class="fountainG"></div>
        <div id="fountainG_6" class="fountainG"></div>
        <div id="fountainG_7" class="fountainG"></div>
        <div id="fountainG_8" class="fountainG"></div>
      </div>
    </div>
    <div class="login-page" v-if="!state.isLoading">
      <div class="center">
        <div class="logo shadow">
          <img src="/static/images/Logo_Full.png" />
        </div>
        <div class="box shadow">
          <form v-on:submit.prevent="onSubmmited">
            <div class="alert alert-danger" role="alert" v-if="error">
              อีเมล หรือ รหัสผ่านไม่ถูกต้อง กรุณาลองใหม่อีกครั้ง
            </div>
            <div class="form-group">
              <label for="name">อีเมล</label>
              <input type="email" class="form-control" placeholder="กรุณากรอกอีเมล"
              v-model="account.email">
            </div>
            <div class="form-group">
              <label for="surname">รหัสผ่าน</label>
              <input type="password" class="form-control" v-model="account.password">
            </div>
            <div class="form-action">
              <button type="submit" class="btn btn-primary btn-lg btn-block">เข้าสู่ระบบ</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <footer>
      <span>© สงวนลิขสิทธิ์ หน่วยวิจัยการบาดเจ็บทางระบบกระดูกและกล้ามเนื้อจากการทำงาน ภาควิชากายภาพบำบัด คณะสหเวชศาสตร์ จุฬาลงกรณ์มหาวิทยาลัย</span>
    </footer>
  </div>
</template>


<script>
import AuthManager from '@/modules/authManager';
import { login } from '@/modules/api';

export default {
  components: {
  },
  computed: {
  },
  created() {
    this.$store.dispatch('setIsLogout', false);
    this.authManager = new AuthManager();
    const promise = this.authManager.checkAuth();
    promise
      .then(() => {
        this.$router.push('/');
      })
      .catch(() => {
        this.state.isLoading = false;
      });
  },
  data() {
    return {
      error: null,
      account: {
        email: '',
        password: '',
      },
      state: {
        isLoading: true,
      },
    };
  },
  methods: {
    onSubmmited() {
      const promise = login(this.account);
      promise
        .then(repsonse => this.authManager.setAuth(repsonse.data.data))
        .then(() => {
          this.$router.push('/');
        })
        .catch((error) => {
          this.error = error.response.data;
        });
    },
  },
};
</script>

<style lang="scss" scoped>
@import '@/assets/scss/themes/variables.scss';

.box {
  padding: $spacer * 2;
  border: 1px solid $gray-200;
  background: white;
  width: 380px;
}

.login-page {
  background: linear-gradient(90deg, $primary 0%, $secondary 100%);
  height: 100vh;
  overflow: hidden;
}

.logo {
  text-align: center;
  border: 1px solid $gray-200;
  background: white;
  width: 380px;
  margin-bottom: $spacer;
  padding: $spacer;
  padding-top: $spacer * 0.5;

  img {
    width: 100%;
  }
}
</style>
