<template>
  <div>
    <p class="text-center">กำลังออกจากระบบ...</p>
  </div>
</template>


<script>
import AuthManager from '@/modules/authManager';
import { logout } from '@/modules/api';

export default {
  components: {
  },
  data() {
  },
  created() {
    this.authManager = new AuthManager();
    const promise = this.authManager.getAuth();
    promise
      .then(token => logout(token))
      .then(() => this.authManager.destroyAuth())
      .then(() => this.authManager.destroyProfile())
      .then(() => this.authManager.destroyQuestions())
      .then(() => {
        this.$router.push('/login');
      })
      .catch(() => {
        this.$router.push('/login');
      });
  },
  methods: {
  },
};
</script>

<style lang="scss" scoped>
@import '@/assets/scss/themes/variables.scss';

.box {
  padding: $spacer * 2;
  border: 1px solid $gray-200;
  background: white;
  width: 380px;
}

.login-page {
  background: linear-gradient(90deg, $primary 0%, $secondary 100%);
  height: 100vh;
  overflow: hidden;
}

.logo {
  text-align: center;
  padding-bottom: $spacer * 2;
  img {
    height: 77px;
  }
}
</style>
