<template>
  <div>
    <Print
      :question="question"
      v-if="question"
    />
    <div v-else>
      <router-link v-bind:to="'/'" class="btn btn-lg btn-primary">
        กลับสู่หน้าหลัก
      </router-link>
    </div>
  </div>
</template>


<script>
import Print from '@/components/parts/Print';
import AuthManager from '@/modules/authManager';

export default {
  components: {
    Print,
  },
  data() {
    return {
      question: null,
    };
  },
  created() {
    this.authManager = new AuthManager();
    const promise = this.authManager.getQuestions();
    promise.then((questions) => {
      if (questions) {
        this.question = questions[this.questionNumber - 1];
      } else {
        this.$router.push('/');
      }
    });
  },
  computed: {
    questionNumber() {
      return this.$route.params.questionNumber;
    },
  },
};
</script>

<style lang="scss" scoped>
@import '@/assets/scss/themes/variables.scss';
</style>
