<template>
  <div>
    <div class="row">
      <div class="col-md-4">
        <div class="header">
          <h2 class="title">ข้อมูลผู้ทำแบบทดสอบ</h2>
        </div>
        <div class="box shadow">
          <form v-on:submit.prevent="onSubmit()">
            <div class="form-group">
              <label for="name">ชื่อ</label>
              <input type="text"
                class="form-control"
                placeholder="กรุณากรอกชื่อ"
                v-model="profile.firstname">
            </div>
            <div class="form-group">
              <label for="surname">นามสกุล</label>
              <input
                type="text"
                class="form-control"
                placeholder="กรุณากรอกนามสกุล"
                v-model="profile.lastname">
            </div>
            <div class="form-group">
              <label for="position">ตำแหน่งงาน</label>
              <input
                type="text"
                class="form-control"
                placeholder="กรุณากรอกตำแหน่งงาน"
                v-model="profile.position">
            </div>
            <div class="form-group">
              <label for="company">ชื่อบริษัท</label>
              <input
                type="text"
                class="form-control"
                placeholder="กรุณากรอกชื่อบริษัท"
                v-model="profile.company">
            </div>
            <div class="form-action">
              <button type="submit"
                class="btn btn-primary btn-lg btn-block"
                :disabled="!readyToSave">บันทึก</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-6 offset-md-2">
        <div class="content content-primary">
          <div class="header">
            <h2 class="title">รายชื่อผู้จัดทำ</h2>
            <p class="subtitle">
              ศาสตราจารย์ ดร. ประวิตร เจนวรรธนะกุล<br/>
              ดร. รัฐพร สีหะวงษ์ <br/>
              ดร. กานต์ธีรา อารีรักษ์
            </p>
          </div>
          <div class="header secondary">
            <h2 class="title">ลิขสิทธิ์ของผู้จัดทำ</h2>
            <p class="subtitle mb-3">
              การผลิตและการลอกเลียนเนื้อหาในโปรแกรมคอมพิวเตอร์นี้ไม่ว่ารูปแบบใดทั้งสิ้น ต้องได้รับอนุญาตเป็นลายลักษณ์อักษรจากผู้จัดทำ
            </p>
            <p class="subtitle mb-3">
              หน่วยวิจัยการบาดเจ็บทางระบบกระดูกและกล้ามเนื้อจากการทำงาน <br/>ภาควิชากายภาพบำบัด คณะสหเวชศาสตร์ จุฬาลงกรณ์มหาวิทยาลัย
            </p>
            <p class="subtitle">
              154 ถนนพระราม 1 แขวงวังใหม่ เขตปทุมวัน กรุงเทพฯ 10330<br/>
              Email: prawit.j@chula.ac.th<br/>
              จัดทำเมื่อ เดือนกรกฎาคม พ.ศ. 2561
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
import _ from 'lodash';
import AuthManager from '@/modules/authManager';

export default {
  components: {
  },
  computed: {
    readyToSave() {
      return _.every(this.profile, item => item);
    },
  },
  created() {
    this.authManager = new AuthManager();
    const promise = this.authManager.getProfile();
    promise.then((profile) => {
      if (profile) {
        this.profile = _.clone(profile);
      }
    });
  },
  watch: {
  },
  data() {
    return {
      profile: {
        firstname: '',
        lastname: '',
        company: '',
        position: '',
      },
    };
  },
  methods: {
    onSubmit() {
      this.authManager = new AuthManager();
      const promise = this.authManager.setProfile(this.profile);
      promise.then((profile) => {
        if (profile) {
          this.$store.dispatch('setIsProfile');
          this.$router.push('/');
        } else {
          // redirect to login
          this.$router.push('/login');
        }
      });
    },
  },
};
</script>

<style lang="scss" scoped>
@import '@/assets/scss/themes/variables.scss';

.box {
  padding: $spacer * 2;
  border: 1px solid $gray-200;
}

.header {
  .subtitle {
    font-size: 17px;
  }
}

.body {
  font-size: 17px;
}

.content .body p {
  text-align: inherit;
}

</style>
