<template>
  <div>
    <div class="row">
      <div class="col-6">
        <div class="content">
          <div class="header">
            <h2 class="title">คำอธิบายวิธีการทำแบบประเมิน</h2>
            <p class="subtitle">
              แบบประเมินนี้เป็นแบบประเมินปัจจัยเสี่ยงของโรคปวดคอ/บ่า และหลังส่วนบั้นเอว<br/>ที่ผู้ประเมินมี โดยแบบประเมินแบ่งออกเป็น 2 ชุด
            </p>
          </div>
          <div class="quize-type">
            <div class="row">
              <div class="col-12">
                <router-link
                  v-bind:to="'quizzes/type/1'"
                  class="btn btn-neck btn-block btn-lg btn-long mb-3"
                >
                  แบบประเมินปัจจัยเสี่ยงโรคปวดคอ/บ่าที่มี
                </router-link>
              </div>
              <div class="col-12">
                <router-link
                  v-bind:to="'quizzes/type/2'"
                  class="btn btn-secondary btn-block btn-lg text-white btn-long"
                >
                  แบบประเมินปัจจัยเสี่ยงโรคปวดหลังส่วนบั้นเอวที่มี
                </router-link>
              </div>
            </div>
          </div>
          <div class="body">
            <p>ท่านสามารถเริ่มทำแบบประเมินที่ท่านเลือกได้โดยการกดที่ชื่อแบบประเมินนั้น</p>
            <p>ในการตอบข้อคำถามแต่ละข้อ ขอให้ท่านโปรดเลือกคำตอบที่ตรงกับความคิดเห็นของท่านมากที่สุดเพียงหนึ่งคำตอบ จากนั้นให้กดที่ปุ่ม “ยืนยันคำตอบ”</p>
            <p>เมื่อท่านตอบข้อคำถามครบแล้ว ระบบจะแสดงผลสรุปให้ท่านทราบ โดยท่านสามารถพิมพ์ผลสรุปดังกล่าวได้</p>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="content content-primary">
          <div class="image-wrapper">
            <img src="/static/images/detail.jpg" class="image-detail" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
export default {
  components: {
  },
  computed: {
  },
  created() {
  },
};
</script>

<style lang="scss" scoped>
@import '@/assets/scss/themes/variables.scss';

.quize-type {
  padding-top: $spacer * 2;
  padding-bottom: $spacer * 2;

  .item {
    padding-bottom: $spacer;
  }

  .item:last-child {
    padding-bottom: 0;
  }
  .number {
    font-size: 24px;
    letter-spacing: 0.9px;
    font-weight: bold;
    font-family: Arial;
  }

  .detail {
    font-size: 20px;
    font-weight: bold;
  }

  .badge {
    font-size: 18px;
    margin-top: 4px;
  }
}

.btn-long {
  white-space: normal;
}

.header {
  .subtitle {
    font-size: 17px;
  }
}

.body {
  font-size: 17px;
}

.content .body p {
  text-align: inherit;
}


.image-wrapper {
  background: white;
  padding: 1rem;
  height: 100%;
  text-align: center;
  .image-detail {
    max-height: 100%;
    margin-left: 94px;
  }
}

.btn-neck {
  background: #229CDC;
  color: white;
}

.btn-neck:hover {
  background: darken(#229CDC, 5%);
}

</style>
