<template>
  <div>
    <ShowResultModal
      v-if="state.isModalShowing"
      :question="currentQuestion"
      :onClose="onClose"
      :lastQuestion="lastQuestion"
      :isQuizEnded="isQuizEnded"
      :onCloseSummary="onCloseSummary"/>
    <div class="row" v-if="!isQuizEnded">
      <div class="col-md-8 offset-md-2">
        <div class="header">
          <h2 class="title">แบบประเมินปัจจัยเสี่ยงของโรคปวดคอ/บ่าที่มี</h2>
        </div>
        <div class="step text-center">
          <h2><span class="badge badge-pill badge-gray">
            ข้อ {{currentIndex + 1}}/{{questions.length}}</span>
          </h2>
        </div>
        <div class="question-list"
          v-for="(item, index) in questions"
          :key="index"
          v-show="currentIndex === index">
          <form v-on:submit.prevent="onConfirmed(item)">
            <div class="question clearfix">
              <div class="item icon">
                <i class="fas fa-quote-left"></i>
              </div>
              <div class="item title" v-html="item.question"></div>
              <div class="item icon">
                <i class="fas fa-quote-right float-right"></i>
              </div>
            </div>
            <div class="question-image-title" v-if="!isUndefined(item.image)">
              <img :src="item.image" />
            </div>
            <div class="choices">
              <div class="text-center helper">
                <span v-if="item.type === 'radio'">โปรดเลือกคำตอบที่ตรงกับท่านมากที่สุด เพียง 1 คำตอบ</span>
                <span v-if="item.type === 'rating'">{{item.description}}</span>
              </div>
              <ul v-if="item.type === 'radio'">
                <li class="choice-item"
                  v-for="(choice, index) in item.choices"
                  :key="index"
                  v-on:click="item.answer = (index + 1)"
                  v-bind:class="{'selected': item.answer === (index + 1)}">
                  <div class="form-check">
                    <input class="form-check-input"
                      type="radio"
                      :value="(index + 1)"
                      :checked="item.answer === (index + 1)">
                    <label class="form-check-label" v-html="choice.title"></label>
                  </div>
                </li>
              </ul>
              <table class="table table-bordered tabel-quiz" v-if="item.type === 'rating'">
                <thead>
                  <tr>
                    <th scope="col">รายการ</th>
                    <th scope="col" class="w-5">1.ไม่เห็นด้วยอย่างมาก</th>
                    <th scope="col" class="w-5">2.ไม่เห็นด้วย</th>
                    <th scope="col" class="w-5">3.เห็นด้วย</th>
                    <th scope="col" class="w-5">4.เห็นด้วยอย่างมาก</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(ratingScale,index) in item.ratingScale" :key="index">
                    <th scope="row">{{index+1}}. {{ratingScale.title}}</th>
                    <td class="w-5" v-for="(score, index) in 4" :key="index">
                      <div class="parent" v-on:click="ratingScale.answer = score">
                        <div class="center">
                          <input class="form-check-input"
                          type="radio"
                          :value="score"
                          :checked="ratingScale.answer === score">
                          <label class="form-check-label append-size"></label>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="form-action">
              <button type="submit" class="btn btn-primary btn-lg btn-block" :disabled="canNotSubmit(item)" v-on:click="onConfirmed(item)">ยืนยันคำตอบ</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row summary" v-if="isQuizEnded">
      <div class="col-md-10 offset-md-1">
        <div class="header">
          <h2 class="title">สรุปผลแบบประเมินปัจจัยเสี่ยงของโรคปวดคอ/บ่า</h2>
        </div>
        <div class="question-list">
          <table class="table table-bordered tabel-quiz">
            <thead>
              <tr>
                <th scope="col">คำถาม</th>
                <th scope="col">คำตอบ</th>
                <th scope="col">ปัจจัยเสี่ยง</th>
                <th scope="col">คำแนะนำ</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item,index) in questions" :key="index">
                <th scope="row">{{index+1}}.
                  <span v-html="item.question" />
                </th>
                <td>
                  <div v-if="item.type === 'rating'">
                    <span v-if="item.answer >= item.correct.min">มีระดับสมาธิที่ต้องใช้ในการทำงานสูง</span>
                    <span v-else>มีระดับสมาธิที่ต้องใช้ในการทำงานปกติ</span>
                  </div>
                  <div v-if="item.type === 'radio'">
                    <span v-html="getTitleOfAnswer(item)" />
                  </div>
                </td>
                <td>
                  <span class="badge badge-success" v-if="!isCorrect(item)">ไม่เสี่ยง</span>
                  <span class="badge badge-primary" v-else>เสี่ยง</span>
                </td>
                <td class="text-center" v-on:click="showSummary(item)">
                  <i class="fas fa-info-circle" />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
import _ from 'lodash';
import { submitSurvey } from '@/modules/api';
import quizData from '@/modules/quizes/type1';
import ShowResultModal from '@/components/parts/ShowResultModal';
import Aerobic from '@/components/parts/extra/Aerobic';

export default {
  components: {
    Aerobic,
    ShowResultModal,
  },
  computed: {
    isQuizEnded() {
      return this.currentIndex >= this.questions.length;
    },
    lastQuestion() {
      return this.currentIndex === this.questions.length;
    },
    currentToken() {
      this.$store.state.currentToken;
    },
    currentProfile() {
      return this.$store.state.currentProfile;
    },
  },
  data() {
    return {
      questions: null,
      currentIndex: 0,
      currentQuestion: null,
      state: {
        isModalShowing: false,
      },
    };
  },
  created() {
    this.questions = quizData.datas;
    const summary = {...this.currentProfile, ...this.getResult()};
    console.log(summary);
  },
  methods: {
    canNotSubmit(item) {
      if (item.type === 'radio' && item.answer) {
        return false;
      } else if (item.type === 'rating') {
        const correct = _.every(item.ratingScale, (choice) => {
          return choice.answer;
        });
        return !correct;
      }
      return true;
    },
    onConfirmed(item) {
      this.currentQuestion = item;
      this.state.isModalShowing = true;
    },
    onClose() {
      this.currentIndex += 1;
      this.state.isModalShowing = false;
    },
    onCloseSummary() {
      this.state.isModalShowing = false;
    },
    getTitleOfAnswer(item){
      if (item.choices && item.choices[1]) {
        return item.choices[1].title;
      }
      return '';
    },
    getProfile() {
      return {
        firstname: 'Tester',
        lastname: '001',
        company: 'Growthd',
        position: 'Manager',
        test_type: 1,
      };
    },
    getResult(){
      return {
        q1: 2,
        q2: 3,
        q3: 4,
      };
    },
    isCorrect(question) {
      return _.find(question.correct, item => item === question.answer);
    },
    isUndefined(item) {
      return _.isUndefined(item);
    },
    onSubmitSurvey() {
      const result = {...this.currentProfile, ...this.getProfile()};
      const promise = submitSurvey();
    },
    showSummary(item) {
      this.currentQuestion = item;
      this.state.isModalShowing = true;
    },
  },
};
</script>

<style lang="scss" scoped>
@import '@/assets/scss/themes/variables.scss';

.question-image-title {
  padding-top: $spacer * 0.5;
  text-align: center;
}
</style>
