<template>
  <div>
    <ShowResultModal
      v-if="state.isModalShowing"
      :question="currentQuestion"
      :onClose="onClose"
      :onCloseSummary="onCloseSummary"
      :lastQuestion="lastQuestion"
      :isQuizEnded="isQuizEnded"
      :currentIndex="currentIndex"
      :currentIndexPrint="currentIndexPrint"/>
    <div class="row" v-if="!isQuizEnded">
      <div class="col-md-10 offset-md-1">
        <div class="header">
          <h2 class="title">
            <span v-if="typeNumber === '1'">แบบประเมินปัจจัยเสี่ยงของโรคปวดคอ/บ่าที่มี</span>
            <span v-else>แบบประเมินปัจจัยเสี่ยงของโรคปวดหลังที่มี</span>
          </h2>
        </div>
        <div class="step text-center">
          <h2>
            <span class="badge badge-pill badge-gray">
              ข้อ {{currentIndex + 1}}/{{questions.length}}
            </span>
          </h2>
        </div>
        <div class="question-list"
          v-for="(item, index) in questions"
          :key="index"
          v-show="currentIndex === index">
          <form v-on:submit.prevent="onConfirmed(item)">
            <div class="question clearfix">
              <div class="item icon text-left">
                <i class="fas fa-quote-left"></i>
              </div>
              <div class="item title" v-html="item.question"></div>
              <div class="item icon text-right">
                <i class="fas fa-quote-right float-right"></i>
              </div>
            </div>
            <div class="question-image-title" v-if="!isUndefined(item.image)">
              <img :src="item.image" />
            </div>
            <div class="choices">
              <div class="text-center helper">
                <span v-if="item.type === 'radio'">โปรดเลือกคำตอบที่ตรงกับท่านมากที่สุด เพียง 1 คำตอบ</span>
                <span v-if="item.type === 'rating'" v-html="item.description" />
                <span v-if="item.type === 'bmi'">โปรดระบุน้ำหนักและส่วนสูงเพื่อใช้ในการคำนวน</span>
              </div>
              <ul v-if="item.type === 'radio'">
                <li class="choice-item"
                  v-for="(choice, index) in item.choices"
                  :key="index"
                  v-on:click="item.answer = (index + 1)"
                  v-bind:class="{'selected': item.answer === (index + 1)}">
                  <div class="form-check">
                    <input class="form-check-input"
                      type="radio"
                      :value="(index + 1)"
                      :checked="item.answer === (index + 1)">
                    <label class="form-check-label" v-html="choice.title"></label>
                  </div>
                </li>
              </ul>
              <table class="table table-bordered tabel-quiz" v-if="item.type === 'rating'">
                <thead>
                  <tr>
                    <th scope="col">รายการ</th>
                    <th scope="col" class="w-5">1.ไม่เห็นด้วยอย่างมาก</th>
                    <th scope="col" class="w-5">2.ไม่เห็นด้วย</th>
                    <th scope="col" class="w-5">3.เห็นด้วย</th>
                    <th scope="col" class="w-5">4.เห็นด้วยอย่างมาก</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(ratingScale,index) in item.ratingScale" :key="index">
                    <th scope="row">{{index+1}}. {{ratingScale.title}}</th>
                    <td class="w-5" v-for="(score, index) in 4" :key="index">
                      <div class="parent" v-on:click="ratingScale.answer = score">
                        <div class="center">
                          <input class="form-check-input"
                          type="radio"
                          :value="score"
                          :checked="ratingScale.answer === score">
                          <label class="form-check-label append-size"></label>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div v-if="item.type === 'bmi'">
                <div class="form-group">
                  <label for="weight">น้ำหนัก (กิโลกรัม)</label>
                  <input type="text" v-model="body.weight" class="form-control" @change="validateWeight(body.weight)"/>
                </div>
                <div class="form-group">
                  <label for="height">ส่วนสูง (เซนติเมตร)</label>
                  <input type="text" v-model="body.height" class="form-control" @change="validateHeight(body.height)"
                  />
                </div>
              </div>
            </div>
            <div class="form-action">
              <button type="submit" class="btn btn-primary btn-lg btn-block" :disabled="canNotSubmit(item)">ยืนยันคำตอบ</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row summary" v-if="isQuizEnded">
      <div class="col-md-10 offset-md-1">
        <div class="header">
          <h2 class="title">
            <span v-if="typeNumber === '1'">สรุปผลแบบประเมินปัจจัยเสี่ยงของโรคปวดคอ/บ่าที่มี</span>
            <span v-else>สรุปผลแบบประเมินปัจจัยเสี่ยงของโรคปวดหลังที่มี</span>
          </h2>
          <div class="result-score text-center">
            <strong class="text-danger">ท่านมีปัจจัยเสี่ยงรวม {{resultScore}} ข้อ</strong>
          </div>
        </div>
        <div class="question-list">
          <table class="table table-bordered tabel-quiz">
            <thead>
              <tr>
                <th scope="col">คำถาม</th>
                <th scope="col">คำตอบ</th>
                <th scope="col">ปัจจัยเสี่ยง</th>
                <th scope="col">คำแนะนำ</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item,index) in questions" :key="index">
                <th scope="row">{{index+1}}.
                  <span v-html="item.question" />
                  <div class="summary-image" v-if="item.showImageResult && !isUndefined(item.image)">
                    <img :src="item.image" />
                  </div>
                </th>
                <td class="question-summary">
                  <div v-if="item.type === 'rating'">
                    <span v-if="item.answer >= item.correct.min">มีระดับสมาธิที่ต้องใช้ในการทำงานสูง</span>
                    <span v-else>มีระดับสมาธิที่ต้องใช้ในการทำงานปกติ</span>
                  </div>
                  <div v-if="item.type === 'radio'">
                    <span class="adjust-underline" v-html="getTitleOfAnswer(item)" />
                  </div>
                  <div v-if="item.type === 'bmi'">
                    <span>BMI = {{financial(item.bmi)}}</span> อยู่ในช่วง<span v-html="getTitleOfAnswer(item)" />
                  </div>
                </td>
                <td>
                  <span class="badge badge-success" v-if="!isCorrect(item)">ไม่เสี่ยง</span>
                  <span class="badge badge-primary" v-else>เสี่ยง</span>
                </td>
                <td class="text-center" v-on:click="showSummary(item, index)">
                  <i class="fas fa-info-circle link" title="ดูคำแนะนำ"/>
                </td>
              </tr>
            </tbody>
          </table>
            <div class="form-action">
              <router-link v-bind:to="'/'" class="btn btn-primary btn-lg btn-block" >
                กลับสู่หน้าหลัก
              </router-link>
            </div>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
import _ from 'lodash';
import { submitSurvey } from '@/modules/api';
import quizData1 from '@/modules/quizes/type1';
import quizData2 from '@/modules/quizes/type2';
import ShowResultModal from '@/components/parts/ShowResultModal';
import Aerobic from '@/components/parts/extra/Aerobic';
import AuthManager from '@/modules/authManager';

export default {
  components: {
    Aerobic,
    ShowResultModal,
  },
  computed: {
    lastQuestion() {
      return this.questions && this.currentIndex === (this.questions.length - 1);
    },
    typeNumber() {
      return this.$route.params.typeNumber;
    },
    isLogout() {
      return this.$store.state.isLogout;
    },
    resultScore() {
      return this.calResultScore();
    },
  },
  data() {
    return {
      questions: null,
      currentIndex: 0,
      currentIndexPrint: 0,
      currentQuestion: null,
      state: {
        isModalShowing: false,
      },
      isSubmited: false,
      isQuizEnded: false,
      currentAuth: null,
      body: {
        weight: null,
        height: null,
      },
    };
  },
  created() {
    this.authManager = new AuthManager();
    this.authManager.destroyQuestions();

    this.questions = this.loadQuestion();
    // reset answer
    this.clearAnwser();
    this.isSubmited = false;
  },
  beforeRouteLeave(to, from, next) {
    if(!this.isQuizEnded && !this.isLogout && !confirm('คุณต้องการออกจากแบบทดสอบใช่หรือไม่')) {
      next(false);
    } else {
      next();
    }
  },
  watch: {
    isQuizEnded(value) {
      if (value) {
        this.authManager = new AuthManager();
        this.authManager.setQuestions(this.questions);
      }
    },
  },
  methods: {
    financial(number) {
      return Number.parseFloat(number).toFixed(2);
    },
    loadQuestion() {
      if (this.typeNumber === '1') {
        return quizData1.datas;
      }
      return quizData2.datas;
    },
    onConfirmed(item) {
      if (item.type === 'bmi') {
        this.setAnswerForBMI();
      }
      this.currentQuestion = item;
      this.state.isModalShowing = true;
    },
    setAnswerForBMI() {
      this.questions.map((question) => {
        if (question.type === 'bmi') {
          const bmi = this.calBMI();
          const choice = this.getChoiceByBMI(bmi);
          question.answer = choice;
          question.bmi = bmi;
        }
        return question;
      });
    },
    calBMI() {
      const height = (this.body.height / 100);
      return this.body.weight / Math.pow(height, 2);
    },
    getChoiceByBMI(bmi) {
      if (bmi < 18.5) {
        return 1;
      } else if (bmi < 23) {
        return 2;
      }
      return 3;
    },
    validateWeight(weight) {
      const validate = this.validateNumber(weight);
      if (!validate) {
        alert('กรุณาใส่เฉพาะตัวเลขหรือจุดทศนิยม');
        this.body.weight = null;
      }
    },
    validateHeight(height) {
    const validate = this.validateNumber(height);
      if (!validate) {
        alert('กรุณาใส่เฉพาะตัวเลขหรือจุดทศนิยม');
        this.body.height = null;
      }
    },
    validateNumber(number) {
      const regex = /^[0-9]+([,.][0-9]+)?$/g;
      if (number && !regex.test(number)){
        return false;
      }
      return true;
    },
    onClose() {
      this.state.isModalShowing = false;
      if (this.currentIndex === (this.questions.length - 1)) {
        this.isQuizEnded = true;
        this.onSubmitSurvey();
      } else {
        this.currentIndex += 1;
         window.scrollTo(0, 0);
      }
    },
    onCloseSummary() {
      this.state.isModalShowing = false;
    },
    getTitleOfAnswer(item) {
      const indexChoice = item.answer - 1;
      if (item.choices && item.choices[indexChoice]) {
        return item.choices[indexChoice].title;
      }
      return '';
    },
    getResult() {
      if (this.typeNumber === '1') {
        return this.transformResultTypeOne();
      }
      return this.transformResultTypeTwo();
    },
    transformResultTypeOne() {
      return {
        'test_type': 1,
        'q1': this.questions[0].answer,
        'q2': this.questions[1].answer,
        'q3': this.questions[2].answer,
        'q4': this.questions[3].answer,
        'q5': this.questions[4].answer,
        'q6': this.questions[5].answer,
        'q7': this.questions[6].answer,
        'q8': this.questions[7].answer,
        'q9': this.questions[8].answer,
        'q10': this.questions[9].answer,
        'q11-1': this.questions[10].ratingScale[0].answer,
        'q11-2': this.questions[10].ratingScale[1].answer,
        'q11-3': this.questions[10].ratingScale[2].answer,
        'q11-4': this.questions[10].ratingScale[3].answer,
        'q11-5': this.questions[10].ratingScale[4].answer,
        'q11-6': this.questions[10].ratingScale[5].answer,
        'q11-7': this.questions[10].ratingScale[6].answer,
        'q11-8': this.questions[10].ratingScale[7].answer,
        'q11-9': this.questions[10].ratingScale[8].answer,
        'q11-10': this.questions[10].ratingScale[9].answer,
        'q11-11': this.questions[10].ratingScale[10].answer,
        'q11-12': this.questions[10].ratingScale[11].answer,
        'q12': this.questions[11].answer,
        'q13': this.questions[12].answer,
        'q14': this.questions[13].answer,
        'q15': this.questions[14].answer,
        'q16': this.questions[15].answer,
        'q17': this.questions[16].answer,
      };
    },
    transformResultTypeTwo() {
      return {
        'test_type': 2,
        'q1': this.questions[0].answer,
        'q2': this.questions[1].answer,
        'q3-1': this.questions[2].ratingScale[0].answer,
        'q3-2': this.questions[2].ratingScale[1].answer,
        'q3-3': this.questions[2].ratingScale[2].answer,
        'q3-4': this.questions[2].ratingScale[3].answer,
        'q3-5': this.questions[2].ratingScale[4].answer,
        'q3-6': this.questions[2].ratingScale[5].answer,
        'q3-7': this.questions[2].ratingScale[6].answer,
        'q3-8': this.questions[2].ratingScale[7].answer,
        'q3-9': this.questions[2].ratingScale[8].answer,
        'q3-10': this.questions[2].ratingScale[9].answer,
        'q3-11': this.questions[2].ratingScale[10].answer,
        'q3-12': this.questions[2].ratingScale[11].answer,
        'q4': this.questions[3].answer,
        'q5': this.questions[4].answer,
        'q6': this.questions[5].answer,
        'q7': this.questions[6].answer,
      };
    },
    isCorrect(question) {
      if (question.type === 'rating') {
        const totalAnswer = _.sumBy(question.ratingScale, ratingScale => ratingScale.answer);
        return totalAnswer >= question.correct.min;
      }
      return _.find(question.correct, item => item === question.answer);
    },
    calResultScore() {
      return _.sumBy(this.questions, question => {
        const wrong = this.isCorrect(question);
        if(wrong) {
          return 1;
        }
        return 0;
      });
      // _.forEach(questions, (question) => {
      //   const wrong = this.isCorrect(question);
      //   if (wrong) {
      //     this.resultScore += 1;
      //   }
      // });
    },
    isUndefined(item) {
      return _.isUndefined(item);
    },
    onSubmitSurvey() {
      this.authManager = new AuthManager();
      const promise = this.authManager.checkAuth();
      promise
        .then((auth) => {
          this.currentAuth = auth;
          return this.authManager.getProfile();
        })
        .then((profile) => {
          const result = { ...profile, ...this.getResult() };
          return submitSurvey(result, this.currentAuth.token);
        })
        .then(() => {
          this.isSubmited = true;
        })
        .catch(() => {
          // this.$router.push('/login');
        });
    },
    showSummary(item, index) {
      this.currentIndexPrint = (index + 1);
      this.currentQuestion = item;
      this.state.isModalShowing = true;
    },
    canNotSubmit(item) {
      if (item.type === 'radio' && item.answer) {
        return false;
      } else if (item.type === 'rating') {
        const correct = _.every(item.ratingScale, choice => choice.answer);
        return !correct;
      } else if (item.type === 'bmi' && this.body.weight && this.body.height) {
        return false;
      }
      return true;
    },
    clearAnwser() {
      this.questions.map((item) => {
        if (item.type === 'rating') {
          return item.ratingScale.map((i) => {
            return i.answer = null;
          });
        }
        if (item.type === 'bmi') {
          item.bmi = 0;
        }
        return item.answer = null;
      });
    },
  },
};
</script>

<style lang="scss" scoped>
@import '@/assets/scss/themes/variables.scss';

.question-image-title {
  padding-top: $spacer * 0.5;
  text-align: center;

  img {
    max-width: 100%;
  }
}

.summary-image {
  padding-left: 1.25rem;
  img {
    width: 50%;
  }
}

.question-summary {
  font-weight: bold;
  strong {
    text-decoration: underline;
  }
}

.result-score {
  font-size: 20px;
}

.question-summary >>> strong {
  text-decoration: underline;
}

.adjust-underline {
  /deep/ strong {
    text-decoration: underline;
  }
}
</style>
