<template>
  <div>
    <ShowResultModal
      v-if="state.isModalShowing"
      :question="currentQuestion"
      :onClose="onClose"
      :onCloseSummary="onCloseSummary"
      :isQuizEnded="false"
      :currentIndex="0"
      :currentIndexPrint="0" />
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <div class="header">
          <h2 class="title">
            <span v-if="typeNumber === '1'">แบบประเมินปัจจัยเสี่ยงของโรคปวดคอ/บ่าที่มี</span>
            <span v-else>แบบประเมินปัจจัยเสี่ยงของโรคปวดหลังที่มี</span>
          </h2>
        </div>
        <div class="question-list"
          v-for="(item, index) in quizData" :key="index">
          <h2 class="text-center">
            <span class="badge badge-pill badge-gray">
              ข้อ {{index + 1}}
            </span>
          </h2>
          <div class="question clearfix">
            <div class="item icon text-left">
              <i class="fas fa-quote-left"></i>
            </div>
            <div class="item title" v-html="item.question"></div>
            <div class="item icon text-right">
              <i class="fas fa-quote-right float-right"></i>
            </div>
          </div>
          <div class="question-image-title text-ce" v-if="!isUndefined(item.image)">
            <img :src="item.image" />
          </div>
          <div class="choices">
            <div class="text-center helper">
              <span v-if="item.type === 'radio'">โปรดเลือกคำตอบที่ตรงกับท่านมากที่สุด เพียง 1 คำตอบ</span>
              <span v-if="item.type === 'rating'" v-html="item.description" />
              <span v-if="item.type === 'bmi'">โปรดระบุน้ำหนักและส่วนสูงเพื่อใช้ในการคำนวน</span>
            </div>
            <ul v-if="item.type === 'radio'">
              <li class="choice-item" v-for="(choice, index) in item.choices" :key="index" @click="onShowResult(item, (index + 1))">
                {{index + 1}} )
                  <label class="form-check-label" v-html="choice.title"></label>
                  <span class="badge badge-success" v-if="!isCorrect(item, (index + 1))">ไม่เสี่ยง</span>
                  <span class="badge badge-primary" v-else>เสี่ยง</span>
              </li>
            </ul>
            <div v-if="item.type === 'rating'">
              <h3 class="text-center text-primary" @click="onShowResultRating(item, true)">ได้ 12 - 48 คะแนน (ดูคำตอบแบบเสี่ยง)</h3>
              <h3 class="text-center text-success" @click="onShowResultRating(item, false)">ได้น้อยกว่า 12 (ดูคำตอบแบบไม่เสี่ยง) **ไม่มีโอกาสเกิดขึ้น เพราะขั้นต่ำของคะแนนที่ได้คือ 12 </h3>
              <table class="table table-bordered tabel-quiz">
                <thead>
                  <tr>
                    <th scope="col">รายการ</th>
                    <th scope="col" class="w-5">1.ไม่เห็นด้วยอย่างมาก</th>
                    <th scope="col" class="w-5">2.ไม่เห็นด้วย</th>
                    <th scope="col" class="w-5">3.เห็นด้วย</th>
                    <th scope="col" class="w-5">4.เห็นด้วยอย่างมาก</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(ratingScale,index) in item.ratingScale" :key="index">
                    <th scope="row">{{index+1}}. {{ratingScale.title}}</th>
                    <td class="w-5 text-center" v-for="(score, index) in 4" :key="index">
                      {{score}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div v-if="item.type === 'bmi'">
              <ul>
                <li class="choice-item" v-for="(choice, index) in item.choices" :key="index" @click="onShowResultBMI(item, (index+1))">
                  {{index + 1}} )
                    <label class="form-check-label" v-html="choice.title"></label>
                    <span class="badge badge-success" v-if="!isCorrect(item, (index + 1))">ไม่เสี่ยง</span>
                    <span class="badge badge-primary" v-else>เสี่ยง</span>
                </li>
              </ul>
            </div>
          </div>
          <!-- <hr/> -->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import _ from 'lodash';
import quizData1 from '@/modules/quizes/type1';
import quizData2 from '@/modules/quizes/type2';
import ShowResultModal from '@/components/parts/ShowResultModal';

export default {
  components: {
    ShowResultModal,
  },
  data() {
    return {
      state: {
        isModalShowing: false,
      },
      typeNumber: '1',
      quizData: [],
      currentQuestion: null,
    };
  },
  created() {
    this.typeNumber = this.$route.params.typeNumber;
    if (this.typeNumber === '1') {
      this.quizData = quizData1.datas;
    }
    if (this.typeNumber === '2') {
      this.quizData = quizData2.datas;
    }
  },
  methods: {
    isUndefined(item) {
      return _.isUndefined(item);
    },
    isCorrect(question, answer) {
      if (question.type === 'rating') {
        return true;
        // const totalAnswer = _.sumBy(question.ratingScale, ratingScale => ratingScale.answer);
        // return totalAnswer >= question.correct.min;
      }
      return _.find(question.correct, item => item === answer);
    },
    onShowResultRating(question, choice) {
      this.currentQuestion = _.clone(question);
      if (choice) { // เสี่ยง
        this.currentQuestion.ratingScale = _.map(question.ratingScale, (ratingScale) => {
          return {
            title: ratingScale.title,
            answer: 4,
          };
        });
      } else {
        this.currentQuestion.ratingScale = _.map(question.ratingScale, (ratingScale) => {
          return {
            title: ratingScale.title,
            answer: 0,
          };
        });
      }
      this.state.isModalShowing = true;
    },
    onShowResult(question, choice) {
      this.currentQuestion = _.clone(question);
      this.currentQuestion.answer = choice;
      this.state.isModalShowing = true;
    },
    onShowResultBMI(question, choice) {
      this.currentQuestion = _.clone(question);
      if (choice === 1) {
        this.currentQuestion.answer = choice;
        this.currentQuestion.bmi = 16;
      } else if (choice === 2) {
        this.currentQuestion.answer = choice;
        this.currentQuestion.bmi = 19;
      } else {
        this.currentQuestion.answer = choice;
        this.currentQuestion.bmi = 23;
      }
      this.state.isModalShowing = true;
    },
    onClose() {
      this.state.isModalShowing = false;
    },
    onCloseSummary() {
      this.state.isModalShowing = false;
    },
  },
};
</script>

<style lang="scss" scoped>
</style>
