<template>
  <div class="padding-bottom">
    <NavBar />
    <div class="container">
      <router-view/>
    </div>
    <footer>
      <span>© สงวนลิขสิทธิ์ หน่วยวิจัยการบาดเจ็บทางระบบกระดูกและกล้ามเนื้อจากการทำงาน ภาควิชากายภาพบำบัด คณะสหเวชศาสตร์ จุฬาลงกรณ์มหาวิทยาลัย</span>
    </footer>
  </div>
</template>

<script>
import NavBar from '@/components/elements/NavBar';
import AuthManager from '@/modules/authManager';

export default {
  components: {
    NavBar,
  },
  created() {
    this.authManager = new AuthManager();
    const promise = this.authManager.checkAuth();
    promise
      .then()
      .catch(() => {
        this.$router.push('/login');
      });
  },
  methods: {
  },
};
</script>

<style lang="scss" scoped>
@import '@/assets/scss/themes/variables.scss';

.padding-bottom {
  padding-bottom: $spacer * 6;
}
</style>
