<template>
  <div>
    <nav class="navbar navbar-expand-lg navbar-light shadow">
      <a v-on:click.prevent="homepage()">
        <img src="/static/images/Logo_Full.png" height="44" />
      </a>
      <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <router-link
              v-bind:to="'/quizzes'"
              class="nav-link"
              v-if="isProfile">
              <i class="fas fa-list"></i> ทำแบบประเมินปัจจัยเสี่ยง
            </router-link>
          </li>
          <li class="nav-item">
            <router-link
              v-bind:to="'/profile'"
              class="nav-link">
              <i class="fas fa-address-card"></i> ข้อมูลผู้ทำแบบทดสอบ
            </router-link>
          </li>
          <li class="nav-item">
            <a class="nav-link link" v-on:click="logout()">
              <i class="fas fa-sign-out-alt"></i> ออกจากระบบ
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</template>

<script>
import _ from 'lodash';
import { logout } from '@/modules/api';
import AuthManager from '@/modules/authManager';

export default {
  components: {
  },
  created() {
    this.authManager = new AuthManager();
    const promise = this.authManager.getProfile();
    promise.then((profile) => {
      if (profile) {
        this.profile = _.clone(profile);
        this.$store.dispatch('setIsProfile');
      }
    });
  },
  data() {
    return {
      profile: null,
      currentAuth: null,
    };
  },
  computed: {
    typeNumber() {
      return this.$route.params.typeNumber;
    },
    isProfile() {
      return this.$store.state.isProfile;
    },
    isQuizing() {
      return this.typeNumber;
    },
  },
  methods: {
    logout() {
      if(confirm('ยืนยันออกจากระบบ')) {
        this.authManager = new AuthManager();
        const promise = this.authManager.getAuth();
        promise
          .then((auth) => {
            this.token = auth.token;
            return this.authManager.destroyAuth();
          })
          .then(() => this.authManager.destroyProfile())
          .then(() => this.authManager.destroyQuestions())
          .then(() => logout(this.token))
          .then(() => {
            this.$store.dispatch('setIsLogout', true);
            this.$router.push('/login');
          })
          .catch(() => {
            this.$router.push('/login');
          });
      }
    },
    homepage() {
      this.$router.push('/quizzes');
    },
  },
};
</script>

<style lang="scss" scoped>
@import '@/assets/scss/themes/variables.scss';

.shadow {
  box-shadow: 0 0.5rem 4rem rgba(0, 0, 0, 0.15) !important;
}

.link {
  cursor: pointer;
}
</style>
