<template>
  <div class="container container-semifluid">
    <div class="modal-box-container">
      <div class="modal-box" :style="boxStyle">
        <div class="modal-container">
          <header class="modal-container-header" v-if="$slots['header']">
            <slot name="header"></slot>
          </header>
          <main>
            <slot></slot>
          </main>
          <div class="modal-container-footer" v-if="$slots['footer']">
            <slot name="footer"></slot>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['onClose', 'boxStyle', 'withoutClose'],
  created() {
    document.body.className = 'modal-opened';
  },
  mounted() {
  },
  beforeDestroy() {
    document.body.className = '';
  },
};
</script>

<style lang="scss" scoped>
@import '@/assets/scss/themes/variables.scss';

body.modal-opened {
  overflow: hidden;
}

.modal-box-container {
  position: fixed;
  z-index: 101;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  z-index: 102;
  box-shadow: 0 1px 1px rgba(0,0,0,0.5);
  width: 946px;
  max-height: calc(100vh - 10%);
  max-width: 100%;
  text-align: left;
  border-radius: 3px;
  background-color: #ffffff;
  padding: 30px;

  .modal-container-header {
    font-size: 36px;
    font-family: ThaiSansNeue;
    text-align: center;
  }

  .modal-container-footer {
    padding-top: $spacer;
  }

  .modal-body {
    padding-left: 0;
    padding-right: 0;
  }
}
</style>
