<template>
  <div>
    <div class="print-container">
      <div class="container print">
        <div class="correct-answer text-center">
          <h4>คำถาม : <span v-html="question.question" /></h4>
          <h4>คำตอบของท่าน : <span v-html="getAnswer()" /></h4>
        </div>
        <header class="modal-container-header">
          <div>
            <span class="text-danger" v-if="isCorrect">มีปัจจัยเสี่ยง</span>
            <span class="text-success" v-else>ไม่มีปัจจัยเสี่ยง</span>
          </div>
        </header>
        <main>
          <div>
            <div v-if="question.summary.type === 'single'">
              <div class="correct-answer" v-if="isCorrect">
                <div class="answer" v-html="question.summary.correct" />
              </div>
              <div class="correct-answer" v-else>
                <div class="answer" v-html="question.summary.wrong" />
              </div>
              <div class="ref" v-if="isShowRefs() && question.summary.refs">
                <p class="title">เอกสารอ้างอิง</p>
                <ol>
                  <li v-for="(ref, index) in question.summary.refs" :key="index">{{ref}}</li>
                </ol>
              </div>
            </div>
            <div v-if="question.summary.type === 'multiple'">
              <div class="correct-answer">
                <div class="answer" v-html="resultOfAnswer" />
              </div>
              <div class="ref" v-if="isShowRefs() && question.summary.refs">
                <p class="title">เอกสารอ้างอิง</p>
                <ol>
                  <li v-for="(ref, index) in question.summary.refs" :key="index">{{ref}}</li>
                </ol>
              </div>
            </div>
            <div v-show="question.summary.type === 'extra-long'">
              <div class="correct-answer">
                <Aerobic v-show="question.summary.name === 'aerobic'"
                  :isCorrect="isCorrect" :isResult="false"/>
                <AerobicLowBack v-show="question.summary.name === 'aerobic-lowback'"
                  :isCorrect="isCorrect" :isResult="false"/>
              </div>
              <div class="ref" v-if="isShowRefs() && question.summary.refs">
                <p class="title">เอกสารอ้างอิง</p>
                <ol>
                  <li v-for="(ref, index) in question.summary.refs" :key="index">{{ref}}</li>
                </ol>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
</template>


<script>
import _ from 'lodash';
import Aerobic from '@/components/parts/extra/Aerobic';
import AerobicLowBack from '@/components/parts/extra/AerobicLowBack';

export default {
  props: ['question'],
  components: {
    Aerobic,
    AerobicLowBack,
  },
  computed: {
    isCorrect() {
      if (this.question.type === 'rating') {
        const totalAnswer = _.sumBy(this.question.ratingScale, ratingScale => ratingScale.answer);
        return totalAnswer >= this.question.correct.min;
      }
      return _.find(this.question.correct, item => item === this.question.answer);
    },
    resultOfAnswer() {
      const index = this.question.answer - 1;
      return this.question.summary.results[index].result;
    },
  },
  created() {
  },
  mounted() {
    setTimeout(() => {
      window.print();
    }, 2000);
  },
  methods: {
    isShowRefs() {
      // No. 11 Neck pain, about rating score
      if (this.question.showRefs === 'all'){
        return true;
      }
      return _.find(this.question.showRefs, item => item === this.question.answer);
    },
    getAnswer() {
      if (this.question.type === 'rating') {
        return _.sumBy(this.question.ratingScale, ratingScale => ratingScale.answer);
      }
      return this.question.choices[this.question.answer - 1].title;
    },
  },
};
</script>

<style lang="scss" scoped>
@import '@/assets/scss/themes/variables.scss';

.answer {
  p {
    text-indent: 20px;
  }
}

.correct-answer {
  padding: 1rem;
  padding-right: 2rem;
}


.ref {
  font-size: 85%;

  .title {
    text-decoration: underline;
    margin-bottom: 0.25rem;
  }

  ul, ol {
    margin: 0;
    padding-left: 24px;
  }
}

.print-container {
  position: absolute;
  z-index: 101;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;

  .print {
    width: 780px;
  }
}


.modal-container-header {
  font-size: 36px;
  font-family: ThaiSansNeue;
  text-align: center;
}

</style>
