<template>
  <div>
    <modal :onClose="onClose" :boxStyle="getModalStyle" id="summary">
      <div slot="header">
        <span class="text-danger" v-if="isCorrect">มีปัจจัยเสี่ยง</span>
        <span class="text-success" v-else>ไม่มีปัจจัยเสี่ยง</span>
        <div class="rating-score" v-if="question.type === 'rating'">คุณได้ {{calScore()}} คะแนน</div>
      </div>
      <div class="modal-body" v-bind:class="{'printed' : isPrinted}">
        <div class="rating-score-detail"  v-if="question.type === 'rating'">
          <div class="score-suggestion">
            <p class="title text-center"><u>วิธีคำนวณคะแนน</u><p>
            <div class="row">
              <div class="col-md-8">ถ้าท่านตอบ <strong>ไม่เห็นด้วยอย่างมาก</strong></div>
              <div class="col-md-4"> = 1 คะแนน</div>
              <div class="col-md-8">ถ้าท่านตอบ <strong>ไม่เห็นด้วย</strong></div>
              <div class="col-md-4"> = 2 คะแนน</div>
              <div class="col-md-8">ถ้าท่านตอบ <strong>เห็นด้วย</strong></div>
              <div class="col-md-4"> = 3 คะแนน</div>
              <div class="col-md-8">ถ้าท่านตอบ <strong>เห็นด้วยอย่างมาก</strong></div>
              <div class="col-md-4"> = 4 คะแนน</div>
            </div>
            <p class="last text-center"><u>คะแนนรวม</u> มีตั้งแต่ 12-48 คะแนน</p>
          </div>
          <!-- <div class="detail" v-html="question.reviews" /> -->
        </div>
        <div v-if="question.summaryInfo.type === 'single'">
          <div class="correct-answer" v-if="isCorrect">
            <div class="answer" v-html="isQuizEnded ? question.summary.correct : question.summaryInfo.correct" />
          </div>
          <div class="correct-answer" v-else>
            <div class="answer" v-html="isQuizEnded ? question.summary.wrong : question.summaryInfo.wrong" />
          </div>
          <div class="ref" v-if="isShowRefs() && question.summary.refs">
            <p class="title">เอกสารอ้างอิง</p>
            <ol>
              <li v-for="(ref, index) in question.summary.refs" :key="index">{{ref}}</li>
            </ol>
          </div>
        </div>
        <div v-if="question.summaryInfo.type === 'multiple'">
          <div class="correct-answer">
            <div class="answer" v-html="resultOfAnswer" />
          </div>
          <div class="ref" v-if="isShowRefs() && question.summaryInfo.refs">
            <p class="title">เอกสารอ้างอิง</p>
            <ol>
              <li v-for="(ref, index) in question.summaryInfo.refs" :key="index">{{ref}}</li>
            </ol>
          </div>
        </div>
        <div v-if="question.summaryInfo.type === 'extra-long'">
          <div class="correct-answer">
            <Aerobic v-if="question.summaryInfo.name === 'aerobic'"
              :isCorrect="isCorrect" :isResult="!isQuizEnded"/>
            <AerobicLowBack v-if="question.summaryInfo.name === 'aerobic-lowback'"
              :isCorrect="isCorrect" :isResult="!isQuizEnded"/>
          </div>
          <div class="ref" v-if="isShowRefs() && question.summaryInfo.refs">
            <p class="title">เอกสารอ้างอิง</p>
            <ol>
              <li v-for="(ref, index) in question.summaryInfo.refs" :key="index">{{ref}}</li>
            </ol>
          </div>
        </div>
      </div>
      <div slot="footer">
        <div v-if="!isQuizEnded">
          <button type="button" class="btn btn-primary btn-block btn-lg" v-on:click="onClose()">
            <span v-if="!lastQuestion">ทำแบบทดสอบข้อถัดไป</span>
            <span v-if="lastQuestion">ดูสรุปผลแบบประเมิน</span>
            <i class="fas fa-arrow-right"></i>
          </button>
        </div>
        <div v-else-if="isQuizEnded">
          <div class="row">
            <div class="col-6">
              <button type="button" class="btn btn-primary btn-block btn-lg"
                v-on:click="onCloseSummary()">
                <span>ปิด</span>
              </button>
            </div>
            <div class="col-6">
              <a :href="`/quizzes/${this.currentIndexPrint}/printed`" target="_blank" class="btn btn-secondary btn-block btn-lg text-white">
                <span>พิมพ์</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </modal>
  </div>
</template>


<script>
import _ from 'lodash';
import Modal from '@/components/parts/Modal';
import Aerobic from '@/components/parts/extra/Aerobic';
import AerobicLowBack from '@/components/parts/extra/AerobicLowBack';

export default {
  props: ['question', 'onClose', 'lastQuestion', 'isQuizEnded', 'currentIndex', 'currentIndexPrint', 'onCloseSummary'],
  components: {
    Modal,
    Aerobic,
    AerobicLowBack,
  },
  computed: {
    isCorrect() {
      if (this.question.type === 'rating') {
        const totalAnswer = _.sumBy(this.question.ratingScale, ratingScale => ratingScale.answer);
        return totalAnswer >= this.question.correct.min;
      }
      return _.find(this.question.correct, item => item === this.question.answer);
    },
    resultOfAnswer() {
      const index = this.question.answer - 1;
      if (this.isQuizEnded) {
        return this.question.summary.results[index].result;
      }
      return this.question.summaryInfo.results[index].result;
    },
  },
  data() {
    return {
      isPrinted: false,
      getModalStyle: {
      },
      getContentStyle: {
      },
    };
  },
  created() {
  },
  methods: {
    calScore() {
      return _.sumBy(this.question.ratingScale, ratingScale => ratingScale.answer);
    },
    isShowRefs() {
      // No. 11 Neck pain, about rating score
      if (this.question.showRefs === 'all'){
        return true;
      }
      return _.find(this.question.showRefs, item => item === this.question.answer);
    },
  },
};
</script>

<style lang="scss" scoped>
@import '@/assets/scss/themes/variables.scss';

.answer {
  p {
    text-indent: 20px;
  }
}

.correct-answer {
  padding: 1rem;
  padding-right: 2rem;
}


.ref {
  font-size: 85%;

  .title {
    text-decoration: underline;
    margin-bottom: 0.25rem;
  }

  ul, ol {
    margin: 0;
    padding-left: 24px;
  }
}

.modal-body {
  max-height: calc(100vh - 300px);
  overflow-y: auto;
}

.rating-score {
  font-size: 24px;
}

.rating-score-detail {
  text-align: center;
  .detail {
    p {
      margin-bottom: 0;
    }
  }
}


.score-suggestion {
  width: 400px;
  margin: 0 auto;
  text-align: left;
  font-size: 20px;
  .last {
    margin-top: $spacer * 0.5;
  }
}
</style>
