<template>
  <div class="root">
    <div class="result" v-if="isResult">
      <div class="correct" v-if="isCorrect">
        <div>
          <p>ท่านมีปัจจัยเสี่ยงในการป่วยเป็นโรคปวดคอ/บ่า มากกว่าผู้ที่ออกกำลังกายคอ/บ่าบ่อยครั้งหรือเป็นประจำสม่ำเสมออย่างมาก!!!</p>
          <p>ในปัจจุบันนี้ ผู้ที่ทำงานในสำนักงาน มักจะต้องนั่งทำงานกับเครื่องคอมพิวเตอร์เป็นหลัก ซึ่งการนั่งทำงานกับเครื่องคอมพิวเตอร์เป็นระยะเวลานานๆ หลายชั่วโมงติดต่อกันในแต่ละวัน และทำซ้ำๆ เช่นนี้เป็นปีๆ ส่งผลให้เกิดการเสียสมดุลของกล้ามเนื้อที่อยู่ด้านหน้าและด้านหลังของศีรษะ กล่าวคือ กล้ามเนื้อบริเวณใต้คางจะยืดยาวออกและแข็งแรงน้อยลง ในขณะที่กล้ามเนื้อบริเวณท้ายทอยจะหดสั้นลงและเกร็งมากขึ้น</p>
        </div>
        <div class="question-image">
          <img src="/static/images/quiz/1/answer/16.jpg" />
        </div>
        <div>
          <p>ด้วยเหตุนี้ ท่านจึงควรตระหนักถึงผลเสียของการนั่งทำงานกับเครื่องคอมพิวเตอร์เป็นระยะเวลานานดังกล่าว ซึ่งจะส่งผลให้ป่วยเป็นโรคปวดคอ/บ่าได้ในที่สุด</p>
          <p>สำหรับแนวทางการลดผลเสียของการนั่งทำงานกับเครื่องคอมพิวเตอร์เป็นระยะเวลานาน สามารถทำได้โดยการออกกำลังกายเพื่อยืดกล้ามเนื้อบริเวณท้ายทอย และเพิ่มความทนทานของกล้ามเนื้อบริเวณใต้คาง ซึ่งจะช่วยให้กล้ามเนื้อที่อยู่ด้านหน้าและด้านหลังของศีรษะกลับมาอยู่ในภาวะสมดุลอีกครั้ง ลดปัจจัยเสี่ยงในการป่วยเป็นโรคปวดคอ/บ่า ได้ถึงครึ่งหนึ่ง</p>
          <p>สำหรับท่าออกกำลังกายที่พัฒนาขึ้นมาเป็นการเฉพาะสำหรับป้องกันโรคปวดคอ/บ่าในผู้ที่ทำงานในสำนักงาน มีรายละเอียดดังนี้</p>
        </div>
      </div>
      <div class="correct" v-else>
        <div>
          <p>ท่านมีความเสี่ยงในการป่วยเป็นโรคปวดคอ/บ่า น้อยกว่าผู้ที่ไม่เคยออกกำลังกายคอ/บ่า หรือทำนานๆ ครั้ง หรือทำบางครั้ง ขอให้ท่านพยายามรักษาการออกกำลังกายดังกล่าวต่อไป เพื่อป้องกันการป่วยเป็นโรคปวดคอ/บ่า</p>
          <p>หากท่านสนใจท่าออกกำลังกายที่พัฒนาขึ้นมาเป็นการเฉพาะสำหรับป้องกันโรคปวดคอ/บ่าในผู้ที่ทำงานในสำนักงาน ขอให้ศึกษาได้ใน<strong><u>ข้อคำถามที่ 16 ในตารางสรุปหน้าสุดท้าย</u></strong></p>
        </div>
      </div>
      <div v-if="isCorrect">
        <h4 class="text-center">โปรแกรมการออกกำลังกายเพื่อป้องกันโรคปวดคอ/บ่า<br/>การยืดกล้ามเนื้อ</h4>
        <h5><u>คำแนะนำ</u></h5>
        <ul>
          <li>ยืดกล้ามเนื้อออกอย่างช้าๆ จนกระทั่งรู้สึกตึง แต่ไม่เจ็บ</li>
          <li>ในขณะยืดกล้ามเนื้อ ควรหายใจเข้า-ออกตามปกติ ไม่ควรกลั้นหายใจ</li>
          <li>ในแต่ละท่า ให้ยืดค้างไว้ 30 วินาที ทำเพียง 1 ครั้ง/ท่า</li>
          <li>ทำการยืดกล้ามเนื้อ <u>ระหว่างวันทำงาน</u> ทุกวัน โดยทำวันละ 2 รอบ ในเวลา 10.00 น. และ 14.00 น.</li>
        </ul>
        <hr />
        <h4 class="text-center">การยืดกล้ามเนื้อคอ/บ่า</h4>
        <div class="section">
          <div class="header text-center">
            <h5>ท่าที่ 1</h5>
          </div>
          <div class="text-center">
            <img src="/static/images/quiz/1/answer/16-1.png" >
          </div>
          <ol>
            <li>นั่งหลังตรง และเก็บคางร่วมกับก้มหน้าลงจนสุด</li>
            <li>ใช้มือทั้งสองข้างออกแรงกดศีรษะให้ก้มมากขึ้น จนกระทั่งรู้สึกตึงที่บริเวณด้านหลังต้นคอ</li>
            <li>ค้างไว้นาน 30 วินาที แล้วจึงปล่อย</li>
          </ol>
        </div>
        <div class="section">
          <div class="header text-center">
            <h5>ท่าที่ 2</h5>
          </div>
          <div class="text-center">
            <img src="/static/images/quiz/1/answer/16-2.png" >
          </div>
          <div class="row">
            <div class="col-6">
              <ol>
                <li>นั่งหลังตรง</li>
                <li>ยืดกล้ามเนื้อทาง<u>ด้านขวา</u>
                  <ul>
                    <li>ให้ใช้มือขวาจับเบาะนั่งให้กระชับ</li>
                    <li>ก้มหน้า แล้วเอียงศีรษะไปทางด้านซ้าย  และหันหน้าไปทางด้านขวา</li>
                    <li>ใช้มือซ้ายจับศีรษะ แล้วโน้มคอให้เอียงไปทางด้านซ้ายมากขึ้น จนรู้สึกตึงที่บริเวณบ่าขวา</li>
                  </ul>
                </li>
                <li>ค้างไว้นาน 30 วินาที แล้วจึงปล่อย</li>
              </ol>
            </div>
            <div class="col-6">
              <ol>
                <li>นั่งหลังตรง</li>
                <li>ยืดกล้ามเนื้อทาง<u>ด้านซ้าย</u>
                  <ul>
                    <li>ให้ใช้มือซ้ายจับเบาะนั่งให้กระชับ</li>
                    <li>ก้มหน้า แล้วเอียงศีรษะไปทางด้านขวา  และหันหน้าไปทางด้านซ้าย</li>
                    <li>ใช้มือขวาจับศีรษะ แล้วโน้มคอให้เอียงไปทางด้านขวามากขึ้น จนรู้สึกตึงที่บริเวณบ่าซ้าย</li>
                  </ul>
                </li>
                <li>ค้างไว้นาน 30 วินาที แล้วจึงปล่อย</li>
              </ol>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="header text-center">
            <h5>ท่าที่ 3</h5>
          </div>
          <div class="text-center">
            <img src="/static/images/quiz/1/answer/16-3.png" >
          </div>
          <div class="row">
            <div class="col-6">
              <ol>
                <li>นั่งหลังตรง</li>
                <li>ยืดกล้ามเนื้อทาง<u>ด้านขวา</u>
                  <ul>
                    <li>ให้ใช้มือขวาจับเบาะนั่งให้กระชับ</li>
                    <li>หันหน้าไปทางด้านซ้าย และก้มศีรษะมอง “รักแร้” ทางด้านซ้าย</li>
                    <li>ใช้มือซ้ายจับศีรษะ แล้วโน้มคอให้ก้มลง จนรู้สึกตึงที่บริเวณด้านในของสะบักขวา</li>
                  </ul>
                </li>
                <li>ค้างไว้นาน 30 วินาที แล้วจึงปล่อย</li>
              </ol>
            </div>
            <div class="col-6">
              <ol>
                <li>นั่งหลังตรง</li>
                <li>ยืดกล้ามเนื้อทาง<u>ด้านซ้าย</u>
                  <ul>
                    <li>ให้ใช้มือซ้ายจับเบาะนั่งให้กระชับ</li>
                    <li>หันหน้าไปทางด้านขวา และก้มศีรษะมอง “รักแร้” ทางด้านขวา</li>
                    <li>ใช้มือขวาจับศีรษะ แล้วโน้มคอให้ก้มลง จนรู้สึกตึงที่บริเวณด้านในของสะบักซ้าย</li>
                  </ul>
                </li>
                <li>ค้างไว้นาน 30 วินาที แล้วจึงปล่อย</li>
              </ol>
            </div>
          </div>
        </div>
        <h4 class="text-center">การยืดกล้ามเนื้อหน้าอก</h4>
        <div class="section">
          <div class="text-center">
            <img src="/static/images/quiz/1/answer/16-4.png" >
          </div>
          <ol>
            <li>ยืนตัวตรง กางแขนทั้ง 2 ข้าง ให้สูงระดับหัวไหล่ และข้อศอกงอ 90 องศา ดังภาพ</li>
            <li>แบะไหล่ทั้งสองข้างไปทางด้านหลัง จนรู้สึกตึงบริเวณหน้าอกทั้งสองข้าง</li>
            <li>ค้างไว้นาน 30 วินาที แล้วจึงปล่อย</li>
          </ol>
        </div>
        <h4 class="text-center">การยืดกล้ามเนื้อหน้าอก</h4>
        <h5><u>คำแนะนำ</u></h5>
        <ul>
          <li>ในขณะเกร็งกล้ามเนื้อ ควรหายใจออก ด้วยการออกเสียงนับจำนวนครั้ง</li>
          <li>แต่ละท่าให้ทำซ้ำ 10 ครั้ง พัก 1 นาที แล้วจึงออกกำลังกายท่าต่อไป</li>
          <li>หากรู้สึกเจ็บขณะออกกำลังกาย ให้ลดจำนวนครั้งลงตามความเหมาะสม</li>
          <li>ให้ออกกำลังกาย สัปดาห์ละ 2 วัน (ทุกวันพุธและวันอาทิตย์)</li>
          <li>ทุกๆ 2 เดือนให้เพิ่มจำนวนครั้งในการออกกำลังกายขึ้นอีกท่าละ 10 ครั้ง และพักระหว่างท่า น้อยลง 10 วินาที</li>
        </ul>
        <div class="section">
          <div class="text-center">
            <img src="/static/images/quiz/1/answer/16-5.png" >
          </div>
          <ol>
            <li>นอนหงาย พยายามเก็บคางให้มากที่สุด</li>
            <li>ก้มศีรษะ โดยการยกศีรษะให้พ้นจากพื้น ประมาณ 2.5 ซม. ในขณะที่ยังเก็บคางอยู่</li>
            <li>ค้างไว้ 1-2 วินาที จากนั้น ค่อยๆ วางศีรษะลงบนพื้นเหมือนท่าเริ่มต้น ทำซ้ำ 10 ครั้ง</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="summary" v-else>
      <div class="correct" v-if="isCorrect">
        <div>
          <p>ท่านมีปัจจัยเสี่ยงในการป่วยเป็นโรคปวดคอ/บ่า มากกว่าผู้ที่ออกกำลังกายคอ/บ่าบ่อยครั้งหรือเป็นประจำสม่ำเสมออย่างมาก!!!</p>
          <p>ในปัจจุบันนี้ ผู้ที่ทำงานในสำนักงาน มักจะต้องนั่งทำงานกับเครื่องคอมพิวเตอร์เป็นหลัก ซึ่งการนั่งทำงานกับเครื่องคอมพิวเตอร์เป็นระยะเวลานานๆ หลายชั่วโมงติดต่อกันในแต่ละวัน และทำซ้ำๆ เช่นนี้เป็นปีๆ ส่งผลให้เกิดการเสียสมดุลของกล้ามเนื้อที่อยู่ด้านหน้าและด้านหลังของศีรษะ กล่าวคือ กล้ามเนื้อบริเวณใต้คางจะยืดยาวออกและแข็งแรงน้อยลง ในขณะที่กล้ามเนื้อบริเวณท้ายทอยจะหดสั้นลงและเกร็งมากขึ้น</p>
        </div>
        <div class="question-image">
          <img src="/static/images/quiz/1/answer/16.jpg" />
        </div>
        <div>
          <p>ด้วยเหตุนี้ ท่านจึงควรตระหนักถึงผลเสียของการนั่งทำงานกับเครื่องคอมพิวเตอร์เป็นระยะเวลานานดังกล่าว ซึ่งจะส่งผลให้ป่วยเป็นโรคปวดคอ/บ่าได้ในที่สุด</p>
          <p>สำหรับแนวทางการลดผลเสียของการนั่งทำงานกับเครื่องคอมพิวเตอร์เป็นระยะเวลานาน สามารถทำได้โดยการออกกำลังกายเพื่อยืดกล้ามเนื้อบริเวณท้ายทอย และเพิ่มความทนทานของกล้ามเนื้อบริเวณใต้คาง ซึ่งจะช่วยให้กล้ามเนื้อที่อยู่ด้านหน้าและด้านหลังของศีรษะกลับมาอยู่ในภาวะสมดุลอีกครั้ง ลดปัจจัยเสี่ยงในการป่วยเป็นโรคปวดคอ/บ่า ได้ถึงครึ่งหนึ่ง</p>
          <p>สำหรับท่าออกกำลังกายที่พัฒนาขึ้นมาเป็นการเฉพาะสำหรับป้องกันโรคปวดคอ/บ่าในผู้ที่ทำงานในสำนักงาน มีรายละเอียดดังนี้</p>
        </div>
      </div>
      <div class="correct" v-else>
        <div>
          <p>ท่านมีความเสี่ยงในการป่วยเป็นโรคปวดคอ/บ่า น้อยกว่าผู้ที่ไม่เคยออกกำลังกายคอ/บ่า หรือทำนานๆ ครั้ง หรือทำบางครั้ง ขอให้ท่านพยายามรักษาการออกกำลังกายดังกล่าวต่อไป เพื่อป้องกันการป่วยเป็นโรคปวดคอ/บ่า</p>
          <p>สำหรับท่าออกกำลังกายที่พัฒนาขึ้นมาเป็นการเฉพาะสำหรับป้องกันโรคปวดคอ/บ่าในผู้ที่ทำงานในสำนักงาน มีรายละเอียดดังนี้</p>
        </div>
      </div>
      <div>
        <h4 class="text-center">โปรแกรมการออกกำลังกายเพื่อป้องกันโรคปวดคอ/บ่า<br/>การยืดกล้ามเนื้อ</h4>
        <h5><u>คำแนะนำ</u></h5>
        <ul>
          <li>ยืดกล้ามเนื้อออกอย่างช้าๆ จนกระทั่งรู้สึกตึง แต่ไม่เจ็บ</li>
          <li>ในขณะยืดกล้ามเนื้อ ควรหายใจเข้า-ออกตามปกติ ไม่ควรกลั้นหายใจ</li>
          <li>ในแต่ละท่า ให้ยืดค้างไว้ 30 วินาที ทำเพียง 1 ครั้ง/ท่า</li>
          <li>ทำการยืดกล้ามเนื้อ <u>ระหว่างวันทำงาน</u> ทุกวัน โดยทำวันละ 2 รอบ ในเวลา 10.00 น. และ 14.00 น.</li>
        </ul>
        <hr />
        <h4 class="text-center">การยืดกล้ามเนื้อคอ/บ่า</h4>
        <div class="section">
          <div class="header text-center">
            <h5>ท่าที่ 1</h5>
          </div>
          <div class="text-center">
            <img src="/static/images/quiz/1/answer/16-1.png" >
          </div>
          <ol>
            <li>นั่งหลังตรง และเก็บคางร่วมกับก้มหน้าลงจนสุด</li>
            <li>ใช้มือทั้งสองข้างออกแรงกดศีรษะให้ก้มมากขึ้น จนกระทั่งรู้สึกตึงที่บริเวณด้านหลังต้นคอ</li>
            <li>ค้างไว้นาน 30 วินาที แล้วจึงปล่อย</li>
          </ol>
        </div>
        <div class="section">
          <div class="header text-center">
            <h5>ท่าที่ 2</h5>
          </div>
          <div class="text-center">
            <img src="/static/images/quiz/1/answer/16-2.png" >
          </div>
          <div class="row">
            <div class="col-6">
              <ol>
                <li>นั่งหลังตรง</li>
                <li>ยืดกล้ามเนื้อทาง<u>ด้านขวา</u>
                  <ul>
                    <li>ให้ใช้มือขวาจับเบาะนั่งให้กระชับ</li>
                    <li>ก้มหน้า แล้วเอียงศีรษะไปทางด้านซ้าย  และหันหน้าไปทางด้านขวา</li>
                    <li>ใช้มือซ้ายจับศีรษะ แล้วโน้มคอให้เอียงไปทางด้านซ้ายมากขึ้น จนรู้สึกตึงที่บริเวณบ่าขวา</li>
                  </ul>
                </li>
                <li>ค้างไว้นาน 30 วินาที แล้วจึงปล่อย</li>
              </ol>
            </div>
            <div class="col-6">
              <ol>
                <li>นั่งหลังตรง</li>
                <li>ยืดกล้ามเนื้อทาง<u>ด้านซ้าย</u>
                  <ul>
                    <li>ให้ใช้มือซ้ายจับเบาะนั่งให้กระชับ</li>
                    <li>ก้มหน้า แล้วเอียงศีรษะไปทางด้านขวา  และหันหน้าไปทางด้านซ้าย</li>
                    <li>ใช้มือขวาจับศีรษะ แล้วโน้มคอให้เอียงไปทางด้านขวามากขึ้น จนรู้สึกตึงที่บริเวณบ่าซ้าย</li>
                  </ul>
                </li>
                <li>ค้างไว้นาน 30 วินาที แล้วจึงปล่อย</li>
              </ol>
            </div>
          </div>
        </div>
        <div class="section">
          <div class="header text-center">
            <h5>ท่าที่ 3</h5>
          </div>
          <div class="text-center">
            <img src="/static/images/quiz/1/answer/16-3.png" >
          </div>
          <div class="row">
            <div class="col-6">
              <ol>
                <li>นั่งหลังตรง</li>
                <li>ยืดกล้ามเนื้อทาง<u>ด้านขวา</u>
                  <ul>
                    <li>ให้ใช้มือขวาจับเบาะนั่งให้กระชับ</li>
                    <li>หันหน้าไปทางด้านซ้าย และก้มศีรษะมอง “รักแร้” ทางด้านซ้าย</li>
                    <li>ใช้มือซ้ายจับศีรษะ แล้วโน้มคอให้ก้มลง จนรู้สึกตึงที่บริเวณด้านในของสะบักขวา</li>
                  </ul>
                </li>
                <li>ค้างไว้นาน 30 วินาที แล้วจึงปล่อย</li>
              </ol>
            </div>
            <div class="col-6">
              <ol>
                <li>นั่งหลังตรง</li>
                <li>ยืดกล้ามเนื้อทาง<u>ด้านซ้าย</u>
                  <ul>
                    <li>ให้ใช้มือซ้ายจับเบาะนั่งให้กระชับ</li>
                    <li>หันหน้าไปทางด้านขวา และก้มศีรษะมอง “รักแร้” ทางด้านขวา</li>
                    <li>ใช้มือขวาจับศีรษะ แล้วโน้มคอให้ก้มลง จนรู้สึกตึงที่บริเวณด้านในของสะบักซ้าย</li>
                  </ul>
                </li>
                <li>ค้างไว้นาน 30 วินาที แล้วจึงปล่อย</li>
              </ol>
            </div>
          </div>
        </div>
        <h4 class="text-center">การยืดกล้ามเนื้อหน้าอก</h4>
        <div class="section">
          <div class="text-center">
            <img src="/static/images/quiz/1/answer/16-4.png" >
          </div>
          <ol>
            <li>ยืนตัวตรง กางแขนทั้ง 2 ข้าง ให้สูงระดับหัวไหล่ และข้อศอกงอ 90 องศา ดังภาพ</li>
            <li>แบะไหล่ทั้งสองข้างไปทางด้านหลัง จนรู้สึกตึงบริเวณหน้าอกทั้งสองข้าง</li>
            <li>ค้างไว้นาน 30 วินาที แล้วจึงปล่อย</li>
          </ol>
        </div>
        <h4 class="text-center">การยืดกล้ามเนื้อหน้าอก</h4>
        <h5><u>คำแนะนำ</u></h5>
        <ul>
          <li>ในขณะเกร็งกล้ามเนื้อ ควรหายใจออก ด้วยการออกเสียงนับจำนวนครั้ง</li>
          <li>แต่ละท่าให้ทำซ้ำ 10 ครั้ง พัก 1 นาที แล้วจึงออกกำลังกายท่าต่อไป</li>
          <li>หากรู้สึกเจ็บขณะออกกำลังกาย ให้ลดจำนวนครั้งลงตามความเหมาะสม</li>
          <li>ให้ออกกำลังกาย สัปดาห์ละ 2 วัน (ทุกวันพุธและวันอาทิตย์)</li>
          <li>ทุกๆ 2 เดือนให้เพิ่มจำนวนครั้งในการออกกำลังกายขึ้นอีกท่าละ 10 ครั้ง และพักระหว่างท่า น้อยลง 10 วินาที</li>
        </ul>
        <div class="section">
          <div class="text-center">
            <img src="/static/images/quiz/1/answer/16-5.png" >
          </div>
          <ol>
            <li>นอนหงาย พยายามเก็บคางให้มากที่สุด</li>
            <li>ก้มศีรษะ โดยการยกศีรษะให้พ้นจากพื้น ประมาณ 2.5 ซม. ในขณะที่ยังเก็บคางอยู่</li>
            <li>ค้างไว้ 1-2 วินาที จากนั้น ค่อยๆ วางศีรษะลงบนพื้นเหมือนท่าเริ่มต้น ทำซ้ำ 10 ครั้ง</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  props: ['isCorrect', 'isResult'],
};
</script>

<style lang="scss" scoped>
@import '@/assets/scss/themes/variables.scss';


.section {
  padding-bottom: $spacer * 2;
  .header {
    padding-bottom: $spacer * 0.5;
  }

  img {
    padding-bottom: $spacer;
  }
}


.question-image {
  padding-top: $spacer * 0.5;
  border: 1px solid $gray-200;
  padding: 16px;

  img {
    width: 100%;
  }
}

</style>
