<template>
  <div class="root">
    <div class="result" v-if="isResult">
      <div class="correct" v-if="isCorrect">
        <div>
          <p>ท่านมีปัจจัยเสี่ยงในการป่วยเป็นโรคปวดหลังส่วนบั้นเอวมากกว่าผู้ที่ออกกำลังกายหลังส่วนบั้นเอวบ่อยครั้ง หรือทำเป็นประจำสม่ำเสมออย่างมาก!!!</p>
          <p>ในปัจจุบันนี้ ผู้ที่ทำงานในสำนักงาน มักจะต้องนั่งทำงานกับเครื่องคอมพิวเตอร์เป็นหลัก ซึ่งการนั่งทำงานกับเครื่องคอมพิวเตอร์เป็นระยะเวลานานๆ หลายชั่วโมงติดต่อกันในแต่ละวัน และทำซ้ำๆ เช่นนี้เป็นปีๆ ส่งผลให้เกิดการเสียสมดุลของกล้ามเนื้อที่อยู่ด้านหน้าและด้านหลังของลำตัว กล่าวคือ กล้ามเนื้อหลังและก้นจะยืดยาวออกและแข็งแรงน้อยลง ในขณะที่กล้ามเนื้อบริเวณหน้าขาจะหดสั้นลงและเกร็งมากขึ้น</p>
        </div>
        <div class="question-image">
          <img src="/static/images/quiz/2/answer/6-1.jpg" />
        </div>
        <div>
          <p>ด้วยเหตุนี้ ท่านจึงควรตระหนักถึงผลเสียของการนั่งทำงานกับเครื่องคอมพิวเตอร์เป็นระยะเวลานานดังกล่าว ซึ่งจะส่งผลให้ป่วยเป็นโรคปวดหลังส่วนบั้นเอวได้ในที่สุด</p>
          <p>สำหรับแนวทางการลดผลเสียของการนั่งทำงานกับเครื่องคอมพิวเตอร์เป็นระยะเวลานาน สามารถทำได้โดยการออกกำลังกายเพื่อเพิ่มความทนทานของกล้ามเนื้อหลังและลำตัวกลุ่ม stabilizer และการยืดกล้ามเนื้อบริเวณหน้าขา ซึ่งจะช่วยให้กล้ามเนื้อที่อยู่ด้านหน้าและด้านหลังของลำตัวกลับมาอยู่ในภาวะสมดุลอีกครั้ง ลดปัจจัยเสี่ยงในการป่วยเป็นโรคปวดหลังส่วนบั้นเอวได้ถึงครึ่งหนึ่ง</p>
          <p>สำหรับท่าออกกำลังกายที่พัฒนาขึ้นมาเป็นการเฉพาะสำหรับป้องกันโรคปวดหลังส่วนบั้นเอวในผู้ที่ทำงานในสำนักงาน มีรายละเอียดดังนี้</p>
        </div>
      </div>
      <div class="correct" v-else>
        <div>
          <p>ท่านมีความเสี่ยงในการป่วยเป็นโรคปวดหลังส่วนบั้นเอวน้อยกว่าผู้ที่ไม่เคยออกกำลังกายหลังส่วนบั้นเอว หรือทำนานๆ ที หรือทำบางครั้ง ขอให้ท่านพยายามรักษาการออกกำลังกายดังกล่าวต่อไป เพื่อป้องกันการป่วยเป็นโรคปวดหลังส่วนบั้นเอว</p>
          <p>หากท่านสนใจท่าออกกำลังกายที่พัฒนาขึ้นมาเป็นการเฉพาะสำหรับป้องกันโรคปวดหลังส่วนบั้นเอวในผู้ที่ทำงานในสำนักงาน ขอให้ศึกษาได้ใน<strong><u>ข้อคำถามที่ 6 ในตารางสรุปหน้าสุดท้าย</u></strong></p>
        </div>
      </div>
      <div v-if="isCorrect">
        <h4 class="text-center">โปรแกรมการออกกำลังกายเพื่อป้องกันโรคปวดหลังส่วนบั้นเอว</h4>
        <h5 class="text-center">การยืดกล้ามเนื้อ</h5>
        <h5><u>คำแนะนำ</u></h5>
        <ul>
          <li>ยืดกล้ามเนื้อออกอย่างช้าๆ จนกระทั่งรู้สึกตึง แต่ไม่เจ็บ</li>
          <li>ในขณะยืดกล้ามเนื้อ ควรหายใจเข้า-ออกตามปกติ ไม่ควรกลั้นหายใจ</li>
          <li>ในแต่ละท่า ให้ยืดค้างไว้ 30 วินาที ทำเพียง 1 ครั้ง/ท่า</li>
          <li>ทำการยืดกล้ามเนื้อ <u>ระหว่างวันทำงาน</u> ทุกวัน โดยทำวันละ 2 รอบ ในเวลา 10.00 น. และ 14.00 น.</li>
        </ul>
        <hr />
        <h4 class="text-center">การยืดกล้ามเนื้อหน้าขา</h4>
        <div class="section">
          <div class="header text-center">
            <h5>สำหรับกล้ามเนื้อด้านขวา</h5>
          </div>
          <div class="text-center">
            <img src="/static/images/quiz/2/answer/6-2.png" >
          </div>
          <ol>
            <li>ก้าวขาซ้ายไปข้างหน้า วางมือบนเข่าซ้าย ดังภาพ</li>
            <li>โยกตัวไปทางด้านหน้าให้ได้มากที่สุด จนรู้สึกตึงที่บริเวณหน้าขาด้านขวา</li>
            <li>ค้างไว้นาน 30 วินาที แล้วจึงปล่อย</li>
          </ol>
        </div>
        <div class="section">
          <div class="header text-center">
            <h5>สำหรับกล้ามเนื้อด้านซ้าย</h5>
          </div>
          <div class="text-center">
            <img src="/static/images/quiz/2/answer/6-3.png" >
          </div>
          <ol>
            <li>ก้าวขาขวาไปข้างหน้า วางมือบนเข่าขวา ดังภาพ</li>
            <li>โยกตัวไปทางด้านหน้าให้ได้มากที่สุด จนรู้สึกตึงที่บริเวณหน้าขาด้านซ้าย</li>
            <li>ค้างไว้นาน 30 วินาที แล้วจึงปล่อย</li>
          </ol>
        </div>
        <h4 class="text-center">โปรแกรมเพื่อเพิ่มความทนทานของกล้ามเนื้อลำตัว</h4>
        <h5><u>คำแนะนำ</u></h5>
        <ul>
          <li>ในขณะเกร็งกล้ามเนื้อ ควรหายใจออก ด้วยการออกเสียงนับจำนวนครั้ง</li>
          <li>แต่ละท่าให้ทำซ้ำ 10 ครั้ง พัก 1 นาที แล้วจึงออกกำลังกายท่าต่อไป</li>
          <li>หากรู้สึกเจ็บขณะออกกำลังกาย ให้ลดจำนวนครั้งลงตามความเหมาะสม</li>
          <li>ทำการออกกำลังกาย สัปดาห์ละ 2 วัน (ทุกวันพุธและวันอาทิตย์)</li>
          <li>ทุกๆ 2 เดือน ให้เพิ่มจำนวนครั้งในการออกกำลังกายขึ้น ท่าละ 10 ครั้ง และพักน้อยลง 10 วินาที</li>
        </ul>
        <hr />
        <h4 class="text-center">การเพิ่มความทนทานของกล้ามเนื้อลำตัวและหลัง</h4>
        <div class="section">
          <div class="header text-center">
            <h5>ท่าที่ 1</h5>
          </div>
          <div class="text-center">
            <img src="/static/images/quiz/2/answer/6-4.png" >
          </div>
          <ol>
            <li>นอนหงาย และวางมือบนหน้าท้องด้านข้าง ดังภาพ</li>
            <li>ค่อยๆ เกร็งกล้ามเนื้อหน้าท้องให้สะดือเคลื่อนขึ้นด้านบน และเคลื่อนเข้าหากระดูกสันหลัง โดยที่กระดูกซี่โครง และกระดูกเชิงกรานไม่ขยับ</li>
            <li>เกร็งค้างไว้ 10 วินาที โดยขณะเกร็งให้พยายามหายใจเข้า-ออก ตามปกติ ทำซ้ำ 10 ครั้ง</li>
          </ol>
        </div>
        <div class="section">
          <div class="header text-center">
            <h5>ท่าที่ 2</h5>
          </div>
          <div class="text-center">
            <img src="/static/images/quiz/2/answer/6-5.png" >
          </div>
          <ol>
            <li>นอนคว่ำ และเอามือไขว้หลัง ดังภาพ</li>
            <li>ออกแรงยกลำตัวท่อนบน และศีรษะให้พ้นจากพื้นให้มากที่สุด</li>
            <li>ค่อยๆ วางลำตัวท่อนบน และศีรษะลงบนพื้นเหมือนท่าเริ่มต้น ทำซ้ำ 10 ครั้ง</li>
          </ol>
        </div>
        <div class="section">
          <div class="header text-center">
            <h5>ท่าที่ 3</h5>
            <h5>สำหรับกล้ามเนื้อด้านขวา</h5>
          </div>
          <div class="text-center">
            <img src="/static/images/quiz/2/answer/6-6.png" >
          </div>
          <ol>
            <li>นอนตะแคงทับด้านขวา ดังภาพ</li>
            <li>เกร็งลำตัว ยกสะโพกให้พ้นพื้น ให้ลำตัวตรง</li>
            <li>ค่อยๆ วางสะโพกลงวางบนพื้นเหมือนท่าเริ่มต้น ทำซ้ำ 10 ครั้ง</li>
          </ol>
        </div>
        <div class="section">
          <div class="header text-center">
            <h5>สำหรับกล้ามเนื้อด้านซ้าย</h5>
          </div>
          <div class="text-center">
            <img src="/static/images/quiz/2/answer/6-7.png" >
          </div>
          <ol>
            <li>นอนตะแคงทับด้านซ้าย ดังภาพ</li>
            <li>เกร็งลำตัว ยกสะโพกให้พ้นพื้น ให้ลำตัวตรง</li>
            <li>ค่อยๆ วางสะโพกลงวางบนพื้นเหมือนท่าเริ่มต้น ทำซ้ำ 10 ครั้ง</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="summary" v-else>
      <div class="correct" v-if="isCorrect">
        <div>
          <p>ท่านมีปัจจัยเสี่ยงในการป่วยเป็นโรคปวดหลังส่วนบั้นเอวมากกว่าผู้ที่ออกกำลังกายหลังส่วนบั้นเอวบ่อยครั้ง หรือทำเป็นประจำสม่ำเสมออย่างมาก!!!</p>
          <p>ในปัจจุบันนี้ ผู้ที่ทำงานในสำนักงาน มักจะต้องนั่งทำงานกับเครื่องคอมพิวเตอร์เป็นหลัก ซึ่งการนั่งทำงานกับเครื่องคอมพิวเตอร์เป็นระยะเวลานานๆ หลายชั่วโมงติดต่อกันในแต่ละวัน และทำซ้ำๆ เช่นนี้เป็นปีๆ ส่งผลให้เกิดการเสียสมดุลของกล้ามเนื้อที่อยู่ด้านหน้าและด้านหลังของลำตัว กล่าวคือ กล้ามเนื้อหลังและก้นจะยืดยาวออกและแข็งแรงน้อยลง ในขณะที่กล้ามเนื้อบริเวณหน้าขาจะหดสั้นลงและเกร็งมากขึ้น</p>
        </div>
        <div class="question-image">
          <img src="/static/images/quiz/2/answer/6-1.jpg" />
        </div>
        <div>
          <p>ด้วยเหตุนี้ ท่านจึงควรตระหนักถึงผลเสียของการนั่งทำงานกับเครื่องคอมพิวเตอร์เป็นระยะเวลานานดังกล่าว ซึ่งจะส่งผลให้ป่วยเป็นโรคปวดหลังส่วนบั้นเอวได้ในที่สุด</p>
          <p>สำหรับแนวทางการลดผลเสียของการนั่งทำงานกับเครื่องคอมพิวเตอร์เป็นระยะเวลานาน สามารถทำได้โดยการออกกำลังกายเพื่อเพิ่มความทนทานของกล้ามเนื้อหลังและลำตัวกลุ่ม stabilizer และการยืดกล้ามเนื้อบริเวณหน้าขา ซึ่งจะช่วยให้กล้ามเนื้อที่อยู่ด้านหน้าและด้านหลังของลำตัวกลับมาอยู่ในภาวะสมดุลอีกครั้ง ลดปัจจัยเสี่ยงในการป่วยเป็นโรคปวดหลังส่วนบั้นเอวได้ถึงครึ่งหนึ่ง</p>
          <p>สำหรับท่าออกกำลังกายที่พัฒนาขึ้นมาเป็นการเฉพาะสำหรับป้องกันโรคปวดหลังส่วนบั้นเอวในผู้ที่ทำงานในสำนักงาน มีรายละเอียดดังนี้</p>
        </div>
      </div>
      <div class="correct" v-else>
        <div>
          <p>ท่านมีความเสี่ยงในการป่วยเป็นโรคปวดหลังส่วนบั้นเอวน้อยกว่าผู้ที่ไม่เคยออกกำลังกายหลังส่วนบั้นเอว หรือทำนานๆ ที หรือทำบางครั้ง ขอให้ท่านพยายามรักษาการออกกำลังกายดังกล่าวต่อไป เพื่อป้องกันการป่วยเป็นโรคปวดหลังส่วนบั้นเอว</p>
          <p>ในปัจจุบันนี้ ผู้ที่ทำงานในสำนักงาน มักจะต้องนั่งทำงานกับเครื่องคอมพิวเตอร์เป็นหลัก ซึ่งการนั่งทำงานกับเครื่องคอมพิวเตอร์เป็นระยะเวลานานๆ หลายชั่วโมงติดต่อกันในแต่ละวัน และทำซ้ำๆ เช่นนี้เป็นปีๆ ส่งผลให้เกิดการเสียสมดุลของกล้ามเนื้อที่อยู่ด้านหน้าและด้านหลังของลำตัว กล่าวคือ กล้ามเนื้อหลังและก้นจะยืดยาวออกและแข็งแรงน้อยลง ในขณะที่กล้ามเนื้อบริเวณหน้าขาจะหดสั้นลงและเกร็งมากขึ้น</p>
        </div>
        <div class="question-image">
          <img src="/static/images/quiz/2/answer/6-1.jpg" />
        </div>
        <div>
          <p>ด้วยเหตุนี้ ท่านจึงควรตระหนักถึงผลเสียของการนั่งทำงานกับเครื่องคอมพิวเตอร์เป็นระยะเวลานานดังกล่าว ซึ่งจะส่งผลให้ป่วยเป็นโรคปวดหลังส่วนบั้นเอวได้ในที่สุด</p>
          <p>สำหรับแนวทางการลดผลเสียของการนั่งทำงานกับเครื่องคอมพิวเตอร์เป็นระยะเวลานาน สามารถทำได้โดยการออกกำลังกายเพื่อเพิ่มความทนทานของกล้ามเนื้อหลังและลำตัวกลุ่ม stabilizer และการยืดกล้ามเนื้อบริเวณหน้าขา ซึ่งจะช่วยให้กล้ามเนื้อที่อยู่ด้านหน้าและด้านหลังของลำตัวกลับมาอยู่ในภาวะสมดุลอีกครั้ง ลดความเสี่ยงในการป่วยเป็นโรคปวดหลังส่วนบั้นเอวได้ถึงครึ่งหนึ่ง</p>
          <p>สำหรับท่าออกกำลังกายที่พัฒนาขึ้นมาเป็นการเฉพาะสำหรับป้องกันโรคปวดหลังส่วนบั้นเอวในผู้ที่ทำงานในสำนักงาน มีรายละเอียดดังนี้</p>
        </div>
      </div>
      <div>
        <h4 class="text-center">โปรแกรมการออกกำลังกายเพื่อป้องกันโรคปวดหลังส่วนบั้นเอว</h4>
        <h5 class="text-center">การยืดกล้ามเนื้อ</h5>
        <h5><u>คำแนะนำ</u></h5>
        <ul>
          <li>ยืดกล้ามเนื้อออกอย่างช้าๆ จนกระทั่งรู้สึกตึง แต่ไม่เจ็บ</li>
          <li>ในขณะยืดกล้ามเนื้อ ควรหายใจเข้า-ออกตามปกติ ไม่ควรกลั้นหายใจ</li>
          <li>ในแต่ละท่า ให้ยืดค้างไว้ 30 วินาที ทำเพียง 1 ครั้ง/ท่า</li>
          <li>ทำการยืดกล้ามเนื้อ <u>ระหว่างวันทำงาน</u> ทุกวัน โดยทำวันละ 2 รอบ ในเวลา 10.00 น. และ 14.00 น.</li>
        </ul>
        <hr />
        <h4 class="text-center">การยืดกล้ามเนื้อหน้าขา</h4>
        <div class="section">
          <div class="header text-center">
            <h5>สำหรับกล้ามเนื้อด้านขวา</h5>
          </div>
          <div class="text-center">
            <img src="/static/images/quiz/2/answer/6-2.png" >
          </div>
          <ol>
            <li>ก้าวขาซ้ายไปข้างหน้า วางมือบนเข่าซ้าย ดังภาพ</li>
            <li>โยกตัวไปทางด้านหน้าให้ได้มากที่สุด จนรู้สึกตึงที่บริเวณหน้าขาด้านขวา</li>
            <li>ค้างไว้นาน 30 วินาที แล้วจึงปล่อย</li>
          </ol>
        </div>
        <div class="section">
          <div class="header text-center">
            <h5>สำหรับกล้ามเนื้อด้านซ้าย</h5>
          </div>
          <div class="text-center">
            <img src="/static/images/quiz/2/answer/6-3.png" >
          </div>
          <ol>
            <li>ก้าวขาขวาไปข้างหน้า วางมือบนเข่าขวา ดังภาพ</li>
            <li>โยกตัวไปทางด้านหน้าให้ได้มากที่สุด จนรู้สึกตึงที่บริเวณหน้าขาด้านซ้าย</li>
            <li>ค้างไว้นาน 30 วินาที แล้วจึงปล่อย</li>
          </ol>
        </div>
        <h4 class="text-center">โปรแกรมเพื่อเพิ่มความทนทานของกล้ามเนื้อลำตัว</h4>
        <h5><u>คำแนะนำ</u></h5>
        <ul>
          <li>ในขณะเกร็งกล้ามเนื้อ ควรหายใจออก ด้วยการออกเสียงนับจำนวนครั้ง</li>
          <li>แต่ละท่าให้ทำซ้ำ 10 ครั้ง พัก 1 นาที แล้วจึงออกกำลังกายท่าต่อไป</li>
          <li>หากรู้สึกเจ็บขณะออกกำลังกาย ให้ลดจำนวนครั้งลงตามความเหมาะสม</li>
          <li>ทำการออกกำลังกาย สัปดาห์ละ 2 วัน (ทุกวันพุธและวันอาทิตย์)</li>
          <li>ทุกๆ 2 เดือน ให้เพิ่มจำนวนครั้งในการออกกำลังกายขึ้น ท่าละ 10 ครั้ง และพักน้อยลง 10 วินาที</li>
        </ul>
        <hr />
        <h4 class="text-center">การเพิ่มความทนทานของกล้ามเนื้อลำตัวและหลัง</h4>
        <div class="section">
          <div class="header text-center">
            <h5>ท่าที่ 1</h5>
          </div>
          <div class="text-center">
            <img src="/static/images/quiz/2/answer/6-4.png" >
          </div>
          <ol>
            <li>นอนหงาย และวางมือบนหน้าท้องด้านข้าง ดังภาพ</li>
            <li>ค่อยๆ เกร็งกล้ามเนื้อหน้าท้องให้สะดือเคลื่อนขึ้นด้านบน และเคลื่อนเข้าหากระดูกสันหลัง โดยที่กระดูกซี่โครง และกระดูกเชิงกรานไม่ขยับ</li>
            <li>เกร็งค้างไว้ 10 วินาที โดยขณะเกร็งให้พยายามหายใจเข้า-ออก ตามปกติ ทำซ้ำ 10 ครั้ง</li>
          </ol>
        </div>
        <div class="section">
          <div class="header text-center">
            <h5>ท่าที่ 2</h5>
          </div>
          <div class="text-center">
            <img src="/static/images/quiz/2/answer/6-5.png" >
          </div>
          <ol>
            <li>นอนคว่ำ และเอามือไขว้หลัง ดังภาพ</li>
            <li>ออกแรงยกลำตัวท่อนบน และศีรษะให้พ้นจากพื้นให้มากที่สุด</li>
            <li>ค่อยๆ วางลำตัวท่อนบน และศีรษะลงบนพื้นเหมือนท่าเริ่มต้น ทำซ้ำ 10 ครั้ง</li>
          </ol>
        </div>
        <div class="section">
          <div class="header text-center">
            <h5>ท่าที่ 3</h5>
            <h5>สำหรับกล้ามเนื้อด้านขวา</h5>
          </div>
          <div class="text-center">
            <img src="/static/images/quiz/2/answer/6-6.png" >
          </div>
          <ol>
            <li>นอนตะแคงทับด้านขวา ดังภาพ</li>
            <li>เกร็งลำตัว ยกสะโพกให้พ้นพื้น ให้ลำตัวตรง</li>
            <li>ค่อยๆ วางสะโพกลงวางบนพื้นเหมือนท่าเริ่มต้น ทำซ้ำ 10 ครั้ง</li>
          </ol>
        </div>
        <div class="section">
          <div class="header text-center">
            <h5>สำหรับกล้ามเนื้อด้านซ้าย</h5>
          </div>
          <div class="text-center">
            <img src="/static/images/quiz/2/answer/6-7.png" >
          </div>
          <ol>
            <li>นอนตะแคงทับด้านซ้าย ดังภาพ</li>
            <li>เกร็งลำตัว ยกสะโพกให้พ้นพื้น ให้ลำตัวตรง</li>
            <li>ค่อยๆ วางสะโพกลงวางบนพื้นเหมือนท่าเริ่มต้น ทำซ้ำ 10 ครั้ง</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  props: ['isCorrect', 'isResult'],
};
</script>

<style lang="scss" scoped>
@import '@/assets/scss/themes/variables.scss';


.section {
  padding-bottom: $spacer * 2;
  .header {
    padding-bottom: $spacer * 0.5;
  }

  img {
    padding-bottom: $spacer;
  }
}


.question-image {
  padding-top: $spacer * 0.5;
  border: 1px solid $gray-200;
  padding: 16px;

  img {
    width: 100%;
  }
}

</style>
